 <!-- Begin Footer Area -->
 <div class="footer-area ">
    <div class="footer-top_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-widgets_area text-center p-0">
                        <div class="logo">
                            <a href="/" class="text-center">
                           <span> Nina's Glow </span>   <img src="/images/beta-logo.png" alt="Footer Logo">
                            </a>
                        </div>
                        <p class="short-desc font-style_italic">
                            Nina's Glow is the place where everyone can is able to find some beauty called to highlight one's individuality! We are waiting right for you!
                        </p>
                        <div class="social-link">
                            <ul>
                                <li class="facebook">
                                    <a href="https://www.facebook.com/" data-bs-toggle="tooltip" target="_blank" title="Facebook">
                                        <i class="lastudioicon-b-facebook"></i>
                                    </a>
                                </li>
                                <li class="twitter">
                                    <a href="https://twitter.com/" data-bs-toggle="tooltip" target="_blank" title="Twitter">
                                        <i class="lastudioicon-b-twitter"></i>
                                    </a>
                                </li>
                                <li class="instagram">
                                    <a href="https://www.instagram.com/" data-bs-toggle="tooltip" target="_blank" title="Instagram">
                                        <i class="lastudioicon-b-instagram"></i>
                                    </a>
                                </li>
                                <li class="instagram">
                                    <a href="https://vimeo.com/" data-bs-toggle="tooltip" target="_blank" title="Vimeo">
                                        <i class="lastudioicon-b-vimeo"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row footer-widgets_wrap">
                        <div class="col-lg-3 col-sm-4">
                            <div class="footer-widgets_area">
                                <div class="footer-widgets">
                                    <ul>
                                        <li>
                                            <a href="/about-us"><span>About Us</span></a>
                                        </li>
                                     
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-4">
                            <div class="footer-widgets_area">
                                
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-4">
                            <div class="footer-widgets_area">
                              
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="footer-widgets_area">
                                <div class="footer-widgets">
                                    <ul>
                                        <li>
                                            <a href="javascript:void(0)"><span>Monday - Friday: 9:00 - 19:00</span></a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)"><span class="text-lowercase">info@example.com</span></a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)"><span>(+612) 2531 5600</span></a>
                                        </li>
                                        <li class="line-height-1">
                                            <a href="javascript:void(0)"><span>PO Box 1622 Colins Street West Victoria 8077 Australia</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom_area bg-bokara_grey">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright">
                        <span>&copy; 2022
                        <a href="/">Nina's Glow.</a>
                        <a href="https://hasthemes.com/" target="_blank">Designed By HasTech. Backend By Dexcoded</a>
                    </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fixed-footerbar">
        <ul>
            <li>
                <a href="/login-register">
                    <i class="lastudioicon-circle-10"></i>
                </a>
            </li>
            <li>
                <a href="#searchBar" class="search-btn toolbar-btn">
                    <i class="lastudioicon-zoom-1"></i>
                </a>
            </li>
            <li class="with-counter">
                <a href="/wishlist">
                    <i class="lastudioicon-heart-2"></i>
                    <span class="cart-item_count">3</span>
                </a>
            </li>
           
            <li class="minicart-wrap with-counter">
                <a href="#miniCart" class="minicart-btn toolbar-btn position-relative">
                    <div class="minicart-count_area">
                        <i class="lastudioicon-bag-20"></i>
                        <span class="cart-item_count">3</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- Footer Area End Here -->

<!-- Begin yena's Modal Area -->
<div class="modal fade modal-wrapper" id="exampleModalCenter">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-inner-area product-details_area row">
                    <div class="col-xl-5 col-lg-6">
                        <div class="product-details_img">
                            <div class="product-details_slider slick-img-slider yena-element-carousel" data-slick-options='{
                            "slidesToShow": 1,
                            "arrows": false,
                            "fade": true,
                            "draggable": false,
                            "swipe": false,
                            "asNavFor": ".pd-slider-nav"
                            }'>
                                <div class="single-img zoom">
                                    <img src="//images/products/large-size/1.jpg" alt="nina's Product Image">
                                    <span class="sticker">New</span>
                                </div>
                                <div class="single-img zoom">
                                    <img src="/images/products/large-size/2.jpg" alt="nina's Product Image">
                                    <span class="sticker">New</span>
                                </div>
                                <div class="single-img zoom">
                                    <img src="/images/products/large-size/3.jpg" alt="nina's Product Image">
                                    <span class="sticker">New</span>
                                </div>
                                <div class="single-img zoom">
                                    <img src="/images/products/large-size/4.jpg" alt="nina's Product Image">
                                    <span class="sticker">New</span>
                                </div>
                            </div>
                            <div class="pd-slider-nav yena-element-carousel arrow-style arrow-sm_size arrow-day_color" data-slick-options='{
                            "slidesToShow": 3,
                            "asNavFor": ".product-details_slider",
                            "focusOnSelect": true,
                            "arrows" : true,
                            "spaceBetween": 30
                            }' data-slick-responsive='[
                                    {"breakpoint":1501, "settings": {"slidesToShow": 3}},
                                    {"breakpoint":1200, "settings": {"slidesToShow": 2}},
                                    {"breakpoint":992, "settings": {"slidesToShow": 3}},
                                    {"breakpoint":575, "settings": {"slidesToShow": 2}}
                                ]'>
                                <div class="single-thumb">
                                    <img src="/images/products/large-size/1.jpg" alt="yena's Product Thumnail">
                                </div>
                                <div class="single-thumb">
                                    <img src="/images/products/large-size/2.jpg" alt="yena's Product Thumnail">
                                </div>
                                <div class="single-thumb">
                                    <img src="/images/products/large-size/3.jpg" alt="yena's Product Thumnail">
                                </div>
                                <div class="single-thumb">
                                    <img src="/images/products/large-size/4.jpg" alt="yena's Product Thumnail">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-6">
                        <div class="product-details_content">
                            <h3 class="heading text-uppercase mb-0">Skin Care yena 2020</h3>
                            <div class="essential-stuff">
                                <div class="price-box">
                                    <span class="new-price ms-0">$30.00</span>
                                </div>
                            </div>
                            <p class="short-desc mb-0">In elit risus, volutpat sed vestibulum sit amet, bibendum in lorem. Etiam aliquet
                                convallis nibh at tempus. Proin gravida tincidunt egestas. Curabitur porta nibh ac enim semper, vitae pretium
                                ante sollicitudin.</p>
                            <div class="product-size">
                                <span>Size</span>
                                <select class="nice-select wide">
                                    <option value="1">Choose an option</option>
                                    <option value="l">L</option>
                                    <option value="m">M</option>
                                    <option value="s">S</option>
                                    <option value="x">X</option>
                                    <option value="xl">XL</option>
                                    <option value="xxl">XXL</option>
                                </select>
                            </div>
                            <div class="product-size product-color">
                                <span>Color</span>
                                <select class="nice-select wide">
                                    <option value="1">Choose an option</option>
                                    <option value="2">Blue</option>
                                    <option value="3">Brown</option>
                                    <option value="4">Gray</option>
                                    <option value="5">Green</option>
                                    <option value="6">Orange</option>
                                    <option value="7">Purple</option>
                                    <option value="8">Red</option>
                                    <option value="9">Yellow</option>
                                </select>
                            </div>
                            <div class="quantity-with_btn">
                                <div class="quantity">
                                    <div class="cart-plus-minus">
                                        <input class="cart-plus-minus-box" value="1" type="text">
                                        <div class="dec qtybutton"><i class="lastudioicon-down-arrow"></i></div>
                                        <div class="inc qtybutton"><i class="lastudioicon-up-arrow"></i></div>
                                    </div>
                                </div>
                                <div class="add-to_cart">
                                    <a class="yena-btn sorbus-color" href="javascript:void(0)">Add to cart</a>
                                </div>
                            </div>
                            <ul class="additional-btn">
                                <li>
                                    <a href="javascript:void(0)"><i class="lastudioicon-heart-2"></i> Add to wishlist</a>
                                </li>
                            
                            </ul>
                            <div class="sku">
                                <span>SKU: LA123</span>
                            </div>
                            <ul class="categories">
                                <li>Categories: </li>
                                <li>
                                    <a href="javascript:void(0)">Foot, Hand & Nail Care,</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Fragrance,</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Hair Care,</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Makeup,</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Skin Care</a>
                                </li>
                            </ul>
                            <ul class="categories tags">
                                <li>Tags: </li>
                                <li>
                                    <a href="javascript:void(0)">Beauty,</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Beauty01,</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Cosmetic,</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Skin solution,</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Skincare</a>
                                </li>
                            </ul>
                            <div class="social-link with-color with-radius">
                                <ul>
                                    <li class="facebook">
                                        <a href="https://www.facebook.com/" data-bs-toggle="tooltip" target="_blank" title="Facebook">
                                            <i class="lastudioicon-b-facebook"></i>
                                        </a>
                                    </li>
                                    <li class="twitter">
                                        <a href="https://twitter.com/" data-bs-toggle="tooltip" target="_blank" title="Twitter">
                                            <i class="lastudioicon-b-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="instagram">
                                        <a href="https://www.instagram.com/" data-bs-toggle="tooltip" target="_blank" title="Instagram">
                                            <i class="lastudioicon-b-instagram"></i>
                                        </a>
                                    </li>
                                    <li class="vimeo">
                                        <a href="https://vimeo.com/" data-bs-toggle="tooltip" target="_blank" title="Vimeo">
                                            <i class="lastudioicon-b-vimeo"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- yena's Modal Area End Here -->
<!-- Scroll To Top Start -->
<a class="scroll-to-top" href="#"><i class="lastudioicon-up-arrow"></i></a>
<!-- Scroll To Top End -->

</div>

<!-- JS
============================================ -->

<!-- jQuery JS -->
<script src="/js/vendor/jquery-3.6.0.min.js"></script>
<script src="/js/vendor/jquery-migrate-3.3.2.min.js"></script>
<!-- Modernizer JS -->
<script src="/js/vendor/modernizr-3.11.2.min.js"></script>
<!-- Bootstrap JS -->
<script src="/js/vendor/bootstrap.bundle.min.js"></script>

<!-- Slick Slider JS -->
<script src="/js/plugins/slick.min.js"></script>
<!-- Barrating JS -->
<script src="/js/plugins/jquery.barrating.min.js"></script>
<!-- Counterup JS -->
<script src="/js/plugins/jquery.counterup.min.js"></script>
<!-- Nice Select JS -->
<script src="/js/plugins/jquery.nice-select.min.js"></script>
<!-- Sticky Sidebar JS -->
<script src="/js/plugins/jquery.sticky-sidebar.min.js"></script>
<!-- Jquery-ui JS -->
<script src="/js/plugins/jquery-ui.min.js"></script>
<script src="/js/plugins/jquery.ui.touch-punch.min.js"></script>
<!-- Theia Sticky Sidebar JS -->
<script src="/js/plugins/theia-sticky-sidebar.min.js"></script>
<!-- Waypoints JS -->
<script src="/js/plugins/waypoints.min.js"></script>
<!-- jQuery Zoom JS -->
<script src="/js/plugins/jquery.zoom.min.js"></script>
<!-- Timecircles JS -->
<script src="/js/plugins/timecircles.min.js"></script>
<!-- Jarallax JS -->
<script src="/js/plugins/jarallax.min.js"></script>
<!-- Magnific Popup JS -->
<script src="/js/plugins/jquery.magnific-popup.min.js"></script>
<!-- Wow JS -->
<script src="/js/plugins/wow.min.js"></script>
<!-- svg Inject JS -->
<script src="/js/plugins/svg-inject.min.js"></script>
<!-- Isotope JS -->
<script src="/js/plugins/isotope.pkgd.min.js"></script>
<!-- lightgallery JS -->
<script src="/js/plugins/lightgallery.min.js"></script>
<!-- imagesloaded JS -->
<script src="/js/plugins/imagesloaded.pkgd.min.js"></script>

<!-- Main JS -->
<script src="/js/main.js"></script>
<!-- <script src="/js/main.min.js"></script> -->

</body>

</html>