<!-- Footer -->

<footer class="footer mt-auto">
    <div class="copyright bg-white">
        <p>
            Copyright &copy; <span id="ec-year"></span><a class="text-primary"
            href="/" target="_blank"> NINA Admin Dashboard</a>. All Rights Reserved.
          </p>
    </div>
</footer>

</div> <!-- End Page Wrapper -->
</div> <!-- End Wrapper -->

<!-- Common Javascript -->
<script src="/plugins/jquery/jquery-3.5.1.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/plugins/simplebar/simplebar.min.js"></script>
<script src="/plugins/jquery-zoom/jquery.zoom.min.js"></script>
<script src="/plugins/slick/slick.min.js"></script>

<!-- Chart -->
<script src="/plugins/charts/Chart.min.js"></script>
<script src="/js/chart.js"></script>

<!-- Google map chart -->
<script src="/plugins/charts/google-map-loader.js"></script>
<script src="/plugins/charts/google-map.js"></script>

<!-- Date Range Picker -->
<script src="/plugins/daterangepicker/moment.min.js"></script>
<script src="/plugins/daterangepicker/daterangepicker.js"></script>
<script src="/js/date-range.js"></script>

<!-- Option Switcher -->
<script src="/plugins/options-sidebar/optionswitcher.js"></script>

<!-- Ekka Custom -->
<script src="/js/ekka.js"></script>
</body>