<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Page || Nina's Glow</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/favicon_package_v0.16/favicon.ico">

    <!-- CSS
	============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Dlicon Icon -->
    <link rel="stylesheet" href="/css/dlicon.min.css">
    <!-- lastudioicon -->
    <link rel="stylesheet" href="/css/lastudioicon.min.css">
    <!-- Slick CSS -->
    <link rel="stylesheet" href="/css/slick.min.css">
    <!-- Animation -->
    <link rel="stylesheet" href="/css/animate.min.css">
    <!-- jQuery Ui -->
    <link rel="stylesheet" href="/css/jquery-ui.min.css">
    <!-- Nice Select -->
    <link rel="stylesheet" href="/css/nice-select.min.css">
    <!-- Timecircles -->
    <link rel="stylesheet" href="/css/timecircles.min.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="/css/magnific-popup.min.css">
    <!-- Light Gallery -->
    <link rel="stylesheet" href="/css/lightgallery.min.css">

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- <link rel="stylesheet" href="/css/style.min.css"> -->
    

</head>

<body class="template-color-1">

    <div class="main-wrapper">

        <!-- Begin Loading Area -->
        <!-- <div class="loading">
            <div class="text-center middle">
                <span class="loader">
            <span class="loader-inner"></span>
                </span>
            </div>
        </div> -->
        <!-- Loading Area End Here -->

        <!-- Begin Main Header Area Two -->
        <header class="main-header_area main-header_area-2">
            <div class="header-top_area bg-night_rider d-none d-lg-block">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-lg-8">
                            <div class="header-shipping">
                                <i class="lastudioicon-pin-check"></i>
                                <span>PO Box 1622 Colins Street Lagos State</span>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="header-top_right">
                                <div class="ht-menu">
                                    <ul>
                                        <li><a href="javascript:void(0)">Language <i class="lastudioicon-down-arrow"></i></a>
                                            <ul class="yena-dropdown ht-dropdown">
                                                <li><a href="javascript:void(0)">English</a></li>
                                                <li><a href="javascript:void(0)">Germany</a></li>
                                                <li><a href="javascript:void(0)">French</a></li>
                                                <li><a href="javascript:void(0)">Spanish</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="javascript:void(0)">Currency<i class="lastudioicon-down-arrow"></i></a>
                                            <ul class="yena-dropdown ht-dropdown">
                                                <li><a href="javascript:void(0)">USD</a></li>
                                                <li><a href="javascript:void(0)">GBP</a></li>
                                                <li><a href="javascript:void(0)">EUR</a></li>
                                                <li><a href="javascript:void(0)">NGN</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="javascript:void(0)">
                                          
                            
                                              
                                         
                                                My Account <i class="lastudioicon-down-arrow"></i>
                                           
                                    </i></a>
                                            <ul class="yena-dropdown ht-dropdown my-account_dropdown">
                                                <li><a href="/my-account">My Account</a></li>
                                                <li>
                                                    <a href="/my-account">
                                                   
                                                    </a>
                                                  </li>
                                                <li><a href="/cart">Your Cart</a></li>
                                                <li><a href="/wishlist">Wishlist</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-middle_area">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        
                        <div class="col-sm-6">
                            <div class="header-logo justify-content-sm-start justify-content-lg-center justify-content-xl-center">
                                <a href="/" class="text-center">
                                  <span>
                                    Nina's Glow 
                                  </span>  
                              <br> <img class="img-full"  src="/images/beta-logo.png" alt="Header Logo">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="header-right_area">
                                <ul>
                                    <li>
                                        <a href="#searchBar" class="search-btn toolbar-btn">
                                            <i class="lastudioicon-zoom-1"></i>
                                        </a>
                                    </li>
                                    <li class="minicart-wrap">
                                        <a href="/cart" class="minicart-btn toolbar-btn">
                                            <div class="minicart-count_area">
                                            <a href="/cart"> <i class="lastudioicon-bag-20"></i></a>   
                                                <span class="cart-item_count">3</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="mobile-menu_wrap d-inline-block d-lg-none">
                                        <a href="#mobileMenu" class="mobile-menu_btn toolbar-btn">
                                            <i class="lastudioicon-menu-4-1"></i>
                                        </a>
                                    </li>
                                    <li class="menu-wrap d-none d-lg-inline-block">
                                        <a href="#offcanvasMenu" class="menu-btn toolbar-btn">
                                            <div class="minicart-count_area">
                                                <i class="lastudioicon-menu-4-1"></i>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-header position-relative d-none d-lg-block">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 position-static">
                            <div class="main-menu_area d-none d-lg-block">
                                <nav class="main-nav d-flex justify-content-center">
                                    <ul>
                                        <li class="megamenu-holder two-column position-static"><a class="active" href="/"> <span>Home</span> </a>
                                        
                                        </li>
                                        <li><a href="javascript:void(0)"><span>Pages</span> <i class="lastudioicon-down-arrow"></i></a>
                                            <ul class="yena-dropdown">
                                                <li><a href="/about-us">About Us</a></li>
                                                <li><a href="/service">Our Services</a></li>
                                               
                                            </ul>
                                        </li>
                                        <!-- <li class="megamenu-holder megamenu-gallery_holder position-static">
                                            <a href="javascript:void(0)"><span>Collection</span>
                                                <i class="lastudioicon-down-arrow"></i>
                                            </a>
                                            <div class="yena-megamenu_wrap">
                                                <ul class="yena-megamenu">
                                                    <li class="gallery-wrap">
                                                        <ul>
                                                            <li>
                                                                <a href="//shop-fullwidth">
                                                                    <img src="//mages/menu/1.jpg" alt="Megamenu's Gallery">
                                                                </a>
                                                                <span class="inner-text">Skin care</span>
                                                            </li>
                                                            <li>
                                                                <a href="/shop-fullwidth">
                                                                    <img src="/images/menu/2.jpg" alt="Megamenu's Gallery">
                                                                </a>
                                                                <span class="inner-text">Skin care</span>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class="gallery-wrap">
                                                        <ul>
                                                            <li>
                                                                <a href="/shop-fullwidth">
                                                                    <img src="/images/menu/3.jpg" alt="Megamenu's Gallery">
                                                                </a>
                                                                <span class="inner-text">Skin care</span>
                                                            </li>
                                                            <li>
                                                                <a href="/shop-fullwidth">
                                                                    <img src="/images/menu/4.jpg" alt="Megamenu's Gallery">
                                                                </a>
                                                                <span class="inner-text">Skin care</span>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class="gallery-wrap">
                                                        <ul>
                                                            <li>
                                                                <a href="/shop-fullwidth">
                                                                    <img src="/images/menu/5.jpg" alt="Megamenu's Gallery">
                                                                </a>
                                                                <span class="inner-text">Skin care</span>
                                                            </li>
                                                            <li>
                                                                <a href="/shop-fullwidth">
                                                                    <img src="/images/menu/6.jpg" alt="Megamenu's Gallery">
                                                                </a>
                                                                <span class="inner-text">Skin care</span>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li> -->
                                        <li class="megamenu-holder position-static"><a href="/shop-fullwidth">Shop <i class="lastudioicon-down-arrow"></i></a>
                                            <div class="yena-megamenu_wrap">
                                                <ul class="yena-megamenu yena-megamenu-2">
                                                  
                                            
                                                    <li>
                                                        <span class="megamenu-title">Shop Pages</span>
                                                        <ul>
                                                            <%# if(req.isAuthenticated){ %>
                                                                <li><a href="/my-account">My Account</a></li>
                                                                <li><a href="/cart">Shopping Cart</a></li>
                                                            <li><a href="/shop-fullwidth">Shop</a></li>

                                                     
                                                            <%# }else{  %>
                                                          
                                                                <li><a href="/my-account">My Account</a></li>
                                                                <li><a href="/login-register">Login | Register</a></li>
                                                                <li><a href="/cart">Shopping Cart</a></li>
                                                            <li><a href="/shop-fullwidth">Shop</a></li>

                                                         
                                                                <%# } %>
                                                     
                                                          
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-header header-sticky">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="main-header_nav position-relative">
                                <div class="header-logo">
                                    <a href="/">
                                        <img class="img-full" src="/images/beta-logo.png" alt="Header Logo">
                                    </a>
                                </div>
                                <div class="main-menu_area d-none d-lg-block">
                                    <nav class="main-nav d-flex justify-content-center">
                                        <ul>
                                            <li class="megamenu-holder two-column position-static"><a class="active" href="/"><span>Home</span></a>
                                             
                                            <li><a href="javascript:void(0)"><span>Pages</span> <i class="lastudioicon-down-arrow"></i></a>
                                                <ul class="yena-dropdown">
                                                    <li><a href="/about-us">About Us</a></li>
                                                    <li><a href="/our-services">Our Services</a></li>
                                                 
                                                  
                                                </ul>
                                            </li>
                                            <!-- <li class="megamenu-holder megamenu-gallery_holder position-static">
                                                <a href="javascript:void(0)"><span>Collection</span>
                                                    <i class="lastudioicon-down-arrow"></i>
                                                </a>
                                                <div class="yena-megamenu_wrap">
                                                    <ul class="yena-megamenu">
                                                        <li class="gallery-wrap">
                                                            <ul>
                                                                <li>
                                                                    <a href="/shop-fullwidth">
                                                                        <img src="/images/menu/1.jpg" alt="Megamenu's Gallery">
                                                                    </a>
                                                                    <span class="inner-text">Skin care</span>
                                                                </li>
                                                                <li>
                                                                    <a href="/shop-fullwidth">
                                                                        <img src="/images/menu/2.jpg" alt="Megamenu's Gallery">
                                                                    </a>
                                                                    <span class="inner-text">Skin care</span>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li class="gallery-wrap">
                                                            <ul>
                                                                <li>
                                                                    <a href="/shop-fullwidth">
                                                                        <img src="/images/menu/3.jpg" alt="Megamenu's Gallery">
                                                                    </a>
                                                                    <span class="inner-text">Skin care</span>
                                                                </li>
                                                                <li>
                                                                    <a href="/shop-fullwidth">
                                                                        <img src="/images/menu/4.jpg" alt="Megamenu's Gallery">
                                                                    </a>
                                                                    <span class="inner-text">Skin care</span>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li class="gallery-wrap">
                                                            <ul>
                                                                <li>
                                                                    <a href="/shop-fullwidth">
                                                                        <img src="/images/menu/5.jpg" alt="Megamenu's Gallery">
                                                                    </a>
                                                                    <span class="inner-text">Skin care</span>
                                                                </li>
                                                                <li>
                                                                    <a href="/shop-fullwidth">
                                                                        <img src="/images/menu/6.jpg" alt="Megamenu's Gallery">
                                                                    </a>
                                                                    <span class="inner-text">Skin care</span>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li> -->
                                            <li class="megamenu-holder position-static"><a href="/shop-fullwidth">Shop <i class="lastudioicon-down-arrow"></i></a>
                                                <div class="yena-megamenu_wrap">
                                                    <ul class="yena-megamenu yena-megamenu-2">
                                                       
                                                        <li>
                                                            <span class="megamenu-title">Shop Pages</span>
                                                            <ul>
                                                                <%# if(req.isAuthenticated){ %>
                                                                    <li><a href="/my-account">My Account</a></li>
                                                                    <li><a href="/cart">Shopping Cart</a></li>
                                                                <li><a href="/shop-fullwidth">Shop</a></li>
    
                                                         
                                                                <%#}else{  %>
                                                              
                                                                    <li><a href="/my-account">My Account</a></li>
                                                                    <li><a href="/login-register">Login | Register</a></li>
                                                                    <li><a href="/cart">Shopping Cart</a></li>
                                                                <li><a href="/shop-fullwidth">Shop</a></li>
    
                                                             
                                                                    <%# } %>
                                                         
                                                              
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                         
                                        </ul>
                                    </nav>
                                </div>
                                <div class="header-right_area">
                                    <ul>
                                        <li>
                                            <a href="#searchBar" class="search-btn toolbar-btn">
                                                <i class="lastudioicon-zoom-1"></i>
                                            </a>
                                        </li>
                                     
                                        <li class="mobile-menu_wrap d-inline-block d-lg-none">
                                            <a href="#mobileMenu" class="mobile-menu_btn toolbar-btn">
                                                <i class="lastudioicon-menu-4-1"></i>
                                            </a>
                                        </li>
                                        <li class="menu-wrap d-none d-lg-inline-block">
                                            <a href="#offcanvasMenu" class="menu-btn toolbar-btn">
                                                <div class="minicart-count_area">
                                                    <i class="lastudioicon-menu-4-1"></i>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="offcanvas-minicart_wrapper" id="miniCart">
                <div class="offcanvas-menu-inner">
                    <a href="#" class="btn-close"><i class="lastudioicon-e-remove"></i></a>
                    <div class="minicart-content">
                        <div class="minicart-heading">
                            <h4>Shopping Cart</h4>
                        </div>
                        <ul class="minicart-list">
                          
                            <li class="minicart-product">
                                <a class="product-item_remove" href="javascript:void(0)"><i class="lastudioicon-e-remove"></i></a>
                                <div class="product-item_img">
                                    <img class="img-full" src="/images/product/small-size/1.jpg" alt="yena's Product Image">
                                </div>
                                <div class="product-item_content">
                                    <a class="product-item_title" href="/shop-fullwidth"></a>
                                    <span class="product-item_quantity">1 x $20.00</span>
                                </div>
                            </li>
                      
                        </ul>
                    </div>
                    <div class="minicart-item_total">
                        <span>Subtotal</span>
                        <span class="ammount">$60.00</span>
                    </div>
                    <div class="minicart-btn_area">
                        <a href="/cart" class="yena-btn yena-btn_fullwidth square-btn">Minicart</a>
                    </div>
                    <div class="minicart-btn_area">
                        <a href="/checkout" class="yena-btn yena-btn_fullwidth square-btn">Checkout</a>
                    </div>
                </div>
            </div> -->
            <div class="mobile-menu_wrapper" id="mobileMenu">
                <div class="offcanvas-menu-inner">
                    <a href="#" class="btn-close-2"><i class="lastudioicon-e-remove"></i></a>
                    <nav class="offcanvas-navigation">
                        <ul class="mobile-menu">
                            <li class="menu-item-has-children active"><a href="/"><span class="mm-text">Home </span></a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">
                                    <span class="mm-text">Pages <i class="lastudioicon-down-arrow"></i></span>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="/about-us">
                                            <span class="mm-text">About Us</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/our-services">
                                            <span class="mm-text">Our Services</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/faq">
                                            <span class="mm-text">FAQs</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/contact-us">
                                            <span class="mm-text">Contact Us</span>
                                        </a>
                                    </li>
                                
                                </ul>
                            </li>
                         
                            <li class="menu-item-has-children">
                                <a href="/shop-fullwidth">
                                    <span class="mm-text">Shop </span>
                                </a>
                            
                            </li>
                           
                        </ul>
                    </nav>
                    <nav class="offcanvas-navigation user-setting_area">
                        <ul class="mobile-menu">
                            <li class="menu-item-has-children active">
                                <a href="#">
                                    <span class="mm-text">User Setting
                                    <i class="lastudioicon-down-arrow"></i>
                                </span>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="/my-account">
                                            <span class="mm-text">My Account</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/login-register">
                                            <span class="mm-text">Login | Register</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                         
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="offcanvas-menu_wrapper" id="offcanvasMenu">
                <div class="offcanvas-menu-inner">
                    <a href="#" class="btn-close"><i class="lastudioicon-e-remove"></i></a>
                    <div class="offcanvas-inner_nav">
                        <ul>
                            <li>
                                <a href="/about-us">About Nina's Glow</a>
                            </li>
                          
                        </ul>
                    </div>
                    <div class="offcanvas-inner_banner">
                        <div class="inner-img">
                            <a href="javascript:void(0)">
                                <img src="/images/menu/offcanvas/1.jpg" alt="Offcanvas Inner Banner">
                            </a>
                        </div>
                    </div>
                    <div class="offcanvas-inner_info">
                        <span>(+612) 2531 5600</span>
                        <span>info@example.com</span>
                        <span>PO Box 1622 Colins Street West Victoria 8077 Australia</span>
                        <div class="social-link">
                            <ul>
                                <li class="facebook">
                                    <a href="https://www.facebook.com/" data-bs-toggle="tooltip" target="_blank" title="Facebook">
                                        <i class="lastudioicon-b-facebook"></i>
                                    </a>
                                </li>
                                <li class="twitter">
                                    <a href="https://twitter.com/" data-bs-toggle="tooltip" target="_blank" title="Twitter">
                                        <i class="lastudioicon-b-twitter"></i>
                                    </a>
                                </li>
                                <li class="instagram">
                                    <a href="https://www.instagram.com/" data-bs-toggle="tooltip" target="_blank" title="Instagram">
                                        <i class="lastudioicon-b-instagram"></i>
                                    </a>
                                </li>
                              
                            </ul>
                        </div>
                        <div class="payment">
                            <img src="/images/payment/1.png" alt="yena's Payment Method">
                        </div>
                        <div class="copyright">
                            <span>&copy; 2022
                            <a href="/">yena.</a>
                            <a href="https://hasthemes.com/" target="_blank">Designed By HasTech.</a>
                        </span>
                        </div>
                    </div>
                </div>
            </div>
           
        </header>
      
        <div class="global-overlay"></div>