<%- include("partials/header") -%>
        <!-- Main Header Area End Here -->

        <!-- Begin Yena's Breadcrumb Area -->
        <div class="breadcrumb-area breadcrumb-bg-2">
            <div class="container-fluid h-100">
                <div class="breadcrumb-content h-100">
                    <h2 class="text-capitalize mb-0">Welcome to Nina's Glow Beauty & Cosmetics Store</h2>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li class="active">About Us</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Yena's Breadcrumb Area End Here -->

        <!-- Main Content Area -->
        <main class="main-content about-main_content">
            <div class="about-us_area">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-lg-7 col-md-6">
                            <div class="about-us_area mr-lg-5 mr-md-3">
                                <div class="about-us_content">
                                    <div class="section-title-2">
                                        <h2 class="heading font-style_italic mb-0">Beauty Is Life</h2>
                                        <div class="section-icon"><img src="images/section-title/1.svg" alt="Section Title Icon"><span class="separator"></span></div>
                                    </div>
                                    <p class="short-desc mb-0">Mauris id vulputate est, eget dignissim turpis. Vestibulum fringilla turpis pretium finibus viverra. Cras vitae commodo est. Pellentesque maximus nisl at est sagittis bibendum. Duis tellus ipsum, tincidunt et velit quis, varius facilisis arcu. In ullamcorper, tellus quis aliquet bibendum, urna lacus feugiat eros, nec convallis erat enim et mi. Nam ultrices, turpis nec tempus venenatis, mauris sem imperdiet diam, non varius erat est ultricies nisl. Integer mi ligula, mattis in ullamcorper id, fermentum id nunc. Aliquam dui dui, fringilla et sapien ut, pretium feugiat risus. Vivamus et sagittis mi</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-6">
                            <div class="about-us_img">
                                <div class="inner-img">
                                    <img class="w-100" src="images/NEW PICS (1).jpg" alt="About Us Image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="our-history_area">
                <div class="container-fluid">
                    <div class="section-title-3">
                        <h2 class="heading font-style_italic mb-0">Our History</h2>
                        <div class="section-icon">
                            <div class="inner-icon">
                                <img src="images/section-title/1.svg" alt="Section Title Icon">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="timeline-item_area">
                    <div class="timeline-item">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="custom-col-1 col-12">
                                    <div class="timeline-item_card pb-30">
                                        <h3 class="font-style_italic mb-0">03/2015</h3>
                                        <p class="mb-0">Mauris id vulputate est, eget dignissim turpis. Vestibulum fringilla turpis pretium finibus viverra. Cras vitae commodo est.</p>
                                    </div>
                                </div>
                                <div class="custom-col-1 col-12">
                                    <div class="timeline-item_card pb-30">
                                        <h3 class="font-style_italic mb-0">05/2017</h3>
                                        <p class="mb-0">Mauris id vulputate est, eget dignissim turpis. Vestibulum fringilla turpis pretium finibus viverra. Cras vitae commodo est.</p>
                                    </div>
                                </div>
                                <div class="custom-col-2 col-12">
                                    <div class="timeline-item_card d-flex align-items-center h-100 pb-30">
                                        <p class="mb-0 specific-desc">To be Continue....</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="timeline-item-2">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="custom-col-1 col-12">
                                    <div class="timeline-item_card pt-30">
                                        <div class="inner-content">
                                            <h3 class="font-style_italic mb-0">08/2016</h3>
                                            <p class="mb-0">Mauris id vulputate est, eget dignissim turpis. Vestibulum fringilla turpis pretium finibus viverra. Cras vitae commodo est.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="custom-col-1 col-12">
                                    <div class="timeline-item_card pt-30">
                                        <div class="inner-content">
                                            <h3 class="font-style_italic mb-0">05/2020</h3>
                                            <p class="mb-0 specific-desc">Mauris id vulputate est, eget dignissim turpis. Vestibulum fringilla turpis pretium finibus viverra. Cras vitae commodo est.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="our-team_area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section-title-3">
                                <h2 class="heading font-style_italic mb-0">Meet The Face Behind the Brand</h2>
                                <div class="section-icon">
                                    <div class="inner-icon">
                                        <img src="images/section-title/1.svg" alt="Section Title Icon">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 ceo">
                            <div class="team-member_item">
                                <div class="team-member_img">
                                    <a href="javascript:void(0)">
                                        <img src="images/nina-pic (1).jpg" alt="Team Member Image">
                                    </a>
                                </div>
                                <div class="team-member_content">
                                    <h3 class="member-name font-style_italic mb-0">Nina</h3>
                                    <div class="social-link">
                                        <ul>
                                            <li class="facebook">
                                                <a href="https://www.facebook.com/" data-bs-toggle="tooltip" target="_blank" title="Facebook">
                                                    <i class="lastudioicon-b-facebook"></i>
                                                </a>
                                            </li>
                                            <li class="twitter">
                                                <a href="https://twitter.com/" data-bs-toggle="tooltip" target="_blank" title="Twitter">
                                                    <i class="lastudioicon-b-twitter"></i>
                                                </a>
                                            </li>
                                            <li class="instagram">
                                                <a href="https://www.instagram.com/" data-bs-toggle="tooltip" target="_blank" title="Instagram">
                                                    <i class="lastudioicon-b-instagram"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-md-4">
                            <div class="team-member_item">
                                <div class="team-member_img">
                                    <a href="javascript:void(0)">
                                        <img src="images/about-us/team-member/2.jpg" alt="Team Member Image">
                                    </a>
                                </div>
                                <div class="team-member_content">
                                    <h3 class="member-name font-style_italic mb-0">Member 2</h3>
                                    <div class="social-link">
                                        <ul>
                                            <li class="facebook">
                                                <a href="https://www.facebook.com/" data-bs-toggle="tooltip" target="_blank" title="Facebook">
                                                    <i class="lastudioicon-b-facebook"></i>
                                                </a>
                                            </li>
                                            <li class="twitter">
                                                <a href="https://twitter.com/" data-bs-toggle="tooltip" target="_blank" title="Twitter">
                                                    <i class="lastudioicon-b-twitter"></i>
                                                </a>
                                            </li>
                                            <li class="instagram">
                                                <a href="https://www.instagram.com/" data-bs-toggle="tooltip" target="_blank" title="Instagram">
                                                    <i class="lastudioicon-b-instagram"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <!-- <div class="col-md-4">
                            <div class="team-member_item">
                                <div class="team-member_img">
                                    <a href="javascript:void(0)">
                                        <img src="images/about-us/team-member/3.jpg" alt="Team Member Image">
                                    </a>
                                </div>
                                <div class="team-member_content">
                                    <h3 class="member-name font-style_italic mb-0">Member 3</h3>
                                    <div class="social-link">
                                        <ul>
                                            <li class="facebook">
                                                <a href="https://www.facebook.com/" data-bs-toggle="tooltip" target="_blank" title="Facebook">
                                                    <i class="lastudioicon-b-facebook"></i>
                                                </a>
                                            </li>
                                            <li class="twitter">
                                                <a href="https://twitter.com/" data-bs-toggle="tooltip" target="_blank" title="Twitter">
                                                    <i class="lastudioicon-b-twitter"></i>
                                                </a>
                                            </li>
                                            <li class="instagram">
                                                <a href="https://www.instagram.com/" data-bs-toggle="tooltip" target="_blank" title="Instagram">
                                                    <i class="lastudioicon-b-instagram"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <!-- <div class="col-md-4">
                            <div class="team-member_item">
                                <div class="team-member_img">
                                    <a href="javascript:void(0)">
                                        <img src="images/about-us/team-member/4.jpg" alt="Team Member Image">
                                    </a>
                                </div>
                                <div class="team-member_content">
                                    <h3 class="member-name font-style_italic mb-0">Member 4</h3>
                                    <div class="social-link">
                                        <ul>
                                            <li class="facebook">
                                                <a href="https://www.facebook.com/" data-bs-toggle="tooltip" target="_blank" title="Facebook">
                                                    <i class="lastudioicon-b-facebook"></i>
                                                </a>
                                            </li>
                                            <li class="twitter">
                                                <a href="https://twitter.com/" data-bs-toggle="tooltip" target="_blank" title="Twitter">
                                                    <i class="lastudioicon-b-twitter"></i>
                                                </a>
                                            </li>
                                            <li class="instagram">
                                                <a href="https://www.instagram.com/" data-bs-toggle="tooltip" target="_blank" title="Instagram">
                                                    <i class="lastudioicon-b-instagram"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <!-- <div class="col-md-4">
                            <div class="team-member_item">
                                <div class="team-member_img">
                                    <a href="javascript:void(0)">
                                        <img src="images/about-us/team-member/5.jpg" alt="Team Member Image">
                                    </a>
                                </div>
                                <div class="team-member_content">
                                    <h3 class="member-name font-style_italic mb-0">Member 5</h3>
                                    <div class="social-link">
                                        <ul>
                                            <li class="facebook">
                                                <a href="https://www.facebook.com/" data-bs-toggle="tooltip" target="_blank" title="Facebook">
                                                    <i class="lastudioicon-b-facebook"></i>
                                                </a>
                                            </li>
                                            <li class="twitter">
                                                <a href="https://twitter.com/" data-bs-toggle="tooltip" target="_blank" title="Twitter">
                                                    <i class="lastudioicon-b-twitter"></i>
                                                </a>
                                            </li>
                                            <li class="instagram">
                                                <a href="https://www.instagram.com/" data-bs-toggle="tooltip" target="_blank" title="Instagram">
                                                    <i class="lastudioicon-b-instagram"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <!-- <div class="col-md-4">
                            <div class="team-member_item">
                                <div class="team-member_img">
                                    <a href="javascript:void(0)">
                                        <img src="images/about-us/team-member/6.jpg" alt="Team Member Image">
                                    </a>
                                </div>
                                <div class="team-member_content">
                                    <h3 class="member-name font-style_italic mb-0">Member 6</h3>
                                    <div class="social-link">
                                        <ul>
                                            <li class="facebook">
                                                <a href="https://www.facebook.com/" data-bs-toggle="tooltip" target="_blank" title="Facebook">
                                                    <i class="lastudioicon-b-facebook"></i>
                                                </a>
                                            </li>
                                            <li class="twitter">
                                                <a href="https://twitter.com/" data-bs-toggle="tooltip" target="_blank" title="Twitter">
                                                    <i class="lastudioicon-b-twitter"></i>
                                                </a>
                                            </li>
                                            <li class="instagram">
                                                <a href="https://www.instagram.com/" data-bs-toggle="tooltip" target="_blank" title="Instagram">
                                                    <i class="lastudioicon-b-instagram"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>

            <!-- Begin Banner Area Five -->
            <div class="banner-area-5 banner-bg-1 parallax" data-bg="images/banner/bg/1.jpg">
                <div class="container h-100">
                    <div class="row h-100">
                        <div class="col-lg-12">
                            <div class="banner-item h-100">
                                <div class="banner-content h-100 @@sectionAnimation">
                                    <h2 class="title white-text_color text-uppercase font-style_italic">Secret of beautiful skin</h2>
                                    <div class="popup-btn">
                                        <a class="popup-vimeo" href="https://player.vimeo.com/video/172601404?autoplay=1"><i class="dlicon media-1_button-play"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Banner Area Five End Here -->

            <!-- Begin Counter Area -->
            <div class="counter-area">
                <div class="container">
                    <div class="row">
                        <div class="counter-custom_col">
                            <div class="counter-item">
                                <h2 class="count font-style_italic mb-0">2524</h2>
                                <h3 class="title font-style_italic mb-0">Mauris id vulputate est</h3>
                            </div>
                        </div>
                        <div class="counter-custom_col">
                            <div class="counter-item">
                                <h2 class="count font-style_italic mb-0">23</h2>
                                <h3 class="title font-style_italic mb-0">Mauris id vulputate est</h3>
                            </div>
                        </div>
                        <div class="counter-custom_col">
                            <div class="counter-item">
                                <h2 class="count font-style_italic mb-0">1256</h2>
                                <h3 class="title font-style_italic mb-0">Mauris id vulputate est</h3>
                            </div>
                        </div>
                        <div class="counter-custom_col">
                            <div class="counter-item h-100 d-flex flex-column justify-content-center">
                                <div class="count-wrap d-flex justify-content-center align-items-center">
                                    <h2 class="count font-style_italic mb-0">89</h2>
                                    <h2 class="number-suffix font-style_italic mb-0">K</h2>
                                </div>
                                <h3 class="title font-style_italic mb-0">Mauris id vulputate est</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Counter Area End Here -->

            <!-- Begin Testimonial Area Two -->
            <div class="testimonial-area-2">
                <div class="custom-container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section-title @@sectionAnimation">
                                <h2 class="heading text-uppercase font-style_italic mb-0">What clients say?</h2>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="yena-element-carousel testimonial-slider custom-dots" data-slick-options='{
                        "slidesToShow": 2,
                        "slidesToScroll": 1,
                        "infinite": false,
                        "arrows": false,
                        "dots": true
                        }' data-slick-responsive='[
                        {"breakpoint":992, "settings": {
                        "slidesToShow": 1
                        }},
                        {"breakpoint":480, "settings": {
                        "slidesToShow": 1
                    }}
                    ]'>

                                <div class="testimonial-item">
                                    <div class="client-info">
                                        <p class="feedback font-style_italic">"Well made template with many options to personalize it to your needs. Customer support prompt and superb as always."</p>
                                        <h6 class="client-name font-style_italic mb-0">Elnora Atkins • Indiana</h6>
                                        <div class="img-area">
                                            <img src="images/testimonial/1.png" alt="Yena's Client Image">
                                        </div>
                                    </div>
                                </div>
                                <div class="testimonial-item">
                                    <div class="client-info">
                                        <p class="feedback font-style_italic">"Well made template with many options to personalize it to your needs. Customer support prompt and superb as always."</p>
                                        <h6 class="client-name font-style_italic mb-0">Nelle Wolfe • California</h6>
                                        <div class="img-area">
                                            <img src="images/testimonial/2.png" alt="Yena's Client Image">
                                        </div>
                                    </div>
                                </div>
                                <div class="testimonial-item">
                                    <div class="client-info">
                                        <p class="feedback font-style_italic">"Well made template with many options to personalize it to your needs. Customer support prompt and superb as always."</p>
                                        <h6 class="client-name font-style_italic mb-0">Nelle Wolfe • California</h6>
                                        <div class="img-area">
                                            <img src="images/testimonial/2.png" alt="Yena's Client Image">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Testimonial Area Two End Here -->

            <!-- Begin Brand Area Two -->
            <div class="brand-area brand-area-2 bg-hint-of_red ptb-70 @@sectionAnimation">
                <div class="custom-container">
                    <div class="brand-nav">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="yena-element-carousel brand-slider banner-dots" data-slick-options='{
                                "slidesToShow": 6,
                                "slidesToScroll": 1,
                                "infinite": true,
                                "arrows": false,
                                "dots": false,
                                "spaceBetween": 30
                                }' data-slick-responsive='[
                                {"breakpoint":992, "settings": {
                                "slidesToShow": 3
                                }},
                                {"breakpoint":768, "settings": {
                                "slidesToShow": 2
                                }},
                                {"breakpoint":575, "settings": {
                                "slidesToShow": 2
                                }}
                            ]'>

                                    <div class="brand-item">
                                        <a href="javascript:void(0)">
                                            <img class="img-full" src="images/brand/1.png" alt="Yena's Brand">
                                        </a>
                                    </div>
                                    <div class="brand-item">
                                        <a href="javascript:void(0)">
                                            <img class="img-full" src="images/brand/2.png" alt="Yena's Brand">
                                        </a>
                                    </div>
                                    <div class="brand-item">
                                        <a href="javascript:void(0)">
                                            <img class="img-full" src="images/brand/3.png" alt="Yena's Brand">
                                        </a>
                                    </div>
                                    <div class="brand-item">
                                        <a href="javascript:void(0)">
                                            <img class="img-full" src="images/brand/4.png" alt="Yena's Brand">
                                        </a>
                                    </div>
                                    <div class="brand-item">
                                        <a href="javascript:void(0)">
                                            <img class="img-full" src="images/brand/5.png" alt="Yena's Brand">
                                        </a>
                                    </div>
                                    <div class="brand-item">
                                        <a href="javascript:void(0)">
                                            <img class="img-full" src="images/brand/6.png" alt="Yena's Brand">
                                        </a>
                                    </div>
                                    <div class="brand-item">
                                        <a href="javascript:void(0)">
                                            <img class="img-full" src="images/brand/1.png" alt="Yena's Brand">
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Brand Area Two End Here -->

        </main>
        <!-- Content Area End Here -->

      
        <!-- Footer Area End Here -->

        <%- include("partials/footer") -%>