<%- include("partials/header") -%>
        <!-- Main Header Area End Here -->

        <!-- Begin Yena's Breadcrumb Area -->
        <div class="breadcrumb-area ">
            <div class="container-fluid h-100">
                <div class="breadcrumb-content h-100">
                    <h2 class="text-capitalize mb-0">Blog Grid Basic</h2>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li class="active">Blog</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Yena's Breadcrumb Area End Here -->

        <!-- Begin Blog Grid Basic Area -->
        <div class="blog-area bg-smoke_color">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="blog-item blog-grid_item border-on_hover">
                            <div class="single-blog">
                                <div class="blog-img">
                                    <div class="inner-img img-zoom_effect">
                                        <a href="blog-single-post.html">
                                            <img class="img-full" src="images/blog/medium-size/1.jpg" alt="Yena's Blog Image">
                                        </a>
                                    </div>
                                </div>
                                <div class="blog-content">
                                    <span>Uncategorized</span>
                                    <h2 class="title font-style_italic"><a href="blog-single-post.html">20 Gift Ideas for Your Stressed Out Loved One</a></h2>
                                    <div class="post-meta">
                                        <ul>
                                            <li>By <a href="javascript:void(0)">HasTech</a></li>
                                            <li>December 23, 2020</li>
                                        </ul>
                                    </div>
                                    <a class="yena-btn yena-btn_sm transparent-btn whisper-color" href="blog-single-post.html">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="blog-item blog-grid_item border-on_hover">
                            <div class="single-blog">
                                <div class="blog-img">
                                    <div class="inner-img img-zoom_effect">
                                        <a href="blog-single-post.html">
                                            <img class="img-full" src="images/blog/medium-size/2.jpg" alt="Yena's Blog Image">
                                        </a>
                                        <div class="popup-btn">
                                            <a class="popup-vimeo" href="https://player.vimeo.com/video/172601404?autoplay=1"><i
                                                class="dlicon media-1_button-play"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="blog-content">
                                    <span>Uncategorized</span>
                                    <h2 class="title font-style_italic"><a href="blog-single-post.html">20 Gift Ideas for Your Stressed Out Loved One</a></h2>
                                    <div class="post-meta">
                                        <ul>
                                            <li>By <a href="javascript:void(0)">HasTech</a></li>
                                            <li>December 23, 2020</li>
                                        </ul>
                                    </div>
                                    <a class="yena-btn yena-btn_sm transparent-btn whisper-color" href="blog-single-post.html">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="blog-item blog-grid_item border-on_hover">
                            <div class="single-blog">
                                <div class="blog-img">
                                    <div class="inner-img img-zoom_effect">
                                        <a href="blog-single-post.html">
                                            <img class="img-full" src="images/blog/medium-size/3.jpg" alt="Yena's Blog Image">
                                        </a>
                                    </div>
                                </div>
                                <div class="blog-content">
                                    <span>Uncategorized</span>
                                    <h2 class="title font-style_italic"><a href="blog-single-post.html">20 Gift Ideas for Your Stressed Out Loved One</a></h2>
                                    <div class="post-meta">
                                        <ul>
                                            <li>By <a href="javascript:void(0)">HasTech</a></li>
                                            <li>December 23, 2020</li>
                                        </ul>
                                    </div>
                                    <a class="yena-btn yena-btn_sm transparent-btn whisper-color" href="blog-single-post.html">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="side-banner_item blog-item">
                            <div class="side-banner_img">
                                <a href="javascript:void(0)">
                                    <img class="img-full" src="images/blog/medium-size/side-banner/1.jpg" alt="Side Banner">
                                </a>
                            </div>
                            <div class="side-banner_text">
                                <h3 class="font-style_italic text-capitalize mb-0">Beauty is not in the face; beauty is a light in the heart. ..</h3>
                                <span>Jeff Keller</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="blog-item blog-grid_item border-on_hover">
                            <div class="single-blog">
                                <div class="yena-element-carousel single-blog_slider arrow-style" data-slick-options='{
                                "slidesToShow": 1,
                                "slidesToScroll": 1,
                                "infinite": false,
                                "arrows": true,
                                "dots": false
                                }' data-slick-responsive='[
                                {"breakpoint":992, "settings": {
                                "slidesToShow": 1
                                }},
                                {"breakpoint":480, "settings": {
                                "slidesToShow": 1
                                }}
                            ]'>

                                    <div class="blog-img">
                                        <div class="inner-img img-zoom_effect">
                                            <a href="blog-single-post.html">
                                                <img class="img-full" src="images/blog/medium-size/4.jpg" alt="Yena's Blog Image">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="blog-img">
                                        <div class="inner-img img-zoom_effect">
                                            <a href="blog-single-post.html">
                                                <img class="img-full" src="images/blog/medium-size/5.jpg" alt="Yena's Blog Image">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="blog-img">
                                        <div class="inner-img img-zoom_effect">
                                            <a href="blog-single-post.html">
                                                <img class="img-full" src="images/blog/medium-size/6.jpg" alt="Yena's Blog Image">
                                            </a>
                                        </div>
                                    </div>

                                </div>
                                <div class="blog-content">
                                    <span>Uncategorized</span>
                                    <h2 class="title font-style_italic"><a href="blog-single-post.html">20 Gift Ideas for Your Stressed Out Loved One</a></h2>
                                    <div class="post-meta">
                                        <ul>
                                            <li>By <a href="javascript:void(0)">HasTech</a></li>
                                            <li>December 23, 2020</li>
                                        </ul>
                                    </div>
                                    <a class="yena-btn yena-btn_sm transparent-btn whisper-color" href="blog-single-post.html">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="blog-item blog-grid_item border-on_hover">
                            <div class="single-blog">
                                <div class="blog-img">
                                    <div class="inner-img img-zoom_effect">
                                        <a href="blog-single-post.html">
                                            <img class="img-full" src="images/blog/medium-size/5.jpg" alt="Yena's Blog Image">
                                        </a>
                                    </div>
                                </div>
                                <div class="blog-content">
                                    <span>Uncategorized</span>
                                    <h2 class="title font-style_italic"><a href="blog-single-post.html">20 Gift Ideas for Your Stressed Out Loved One</a></h2>
                                    <div class="post-meta">
                                        <ul>
                                            <li>By <a href="javascript:void(0)">HasTech</a></li>
                                            <li>December 23, 2020</li>
                                        </ul>
                                    </div>
                                    <a class="yena-btn yena-btn_sm transparent-btn whisper-color" href="blog-single-post.html">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="blog-item blog-grid_item border-on_hover">
                            <div class="single-blog">
                                <div class="blog-img">
                                    <div class="inner-img img-zoom_effect">
                                        <a href="blog-single-post.html">
                                            <img class="img-full" src="images/blog/medium-size/6.jpg" alt="Yena's Blog Image">
                                        </a>
                                    </div>
                                </div>
                                <div class="blog-content">
                                    <span>Uncategorized</span>
                                    <h2 class="title font-style_italic"><a href="blog-single-post.html">20 Gift Ideas for Your Stressed Out Loved One</a></h2>
                                    <div class="post-meta">
                                        <ul>
                                            <li>By <a href="javascript:void(0)">HasTech</a></li>
                                            <li>December 23, 2020</li>
                                        </ul>
                                    </div>
                                    <a class="yena-btn yena-btn_sm transparent-btn whisper-color" href="blog-single-post.html">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="blog-item blog-grid_item border-on_hover">
                            <div class="single-blog">
                                <div class="blog-img">
                                    <div class="inner-img img-zoom_effect">
                                        <a href="blog-single-post.html">
                                            <img class="img-full" src="images/blog/medium-size/7.jpg" alt="Yena's Blog Image">
                                        </a>
                                    </div>
                                </div>
                                <div class="blog-content">
                                    <span>Uncategorized</span>
                                    <h2 class="title font-style_italic"><a href="blog-single-post.html">20 Gift Ideas for Your Stressed Out Loved One</a></h2>
                                    <div class="post-meta">
                                        <ul>
                                            <li>By <a href="javascript:void(0)">HasTech</a></li>
                                            <li>December 23, 2020</li>
                                        </ul>
                                    </div>
                                    <a class="yena-btn yena-btn_sm transparent-btn whisper-color" href="blog-single-post.html">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="blog-item blog-grid_item border-on_hover">
                            <div class="single-blog">
                                <div class="blog-img">
                                    <div class="inner-img img-zoom_effect">
                                        <a href="blog-single-post.html">
                                            <img class="img-full" src="images/blog/medium-size/8.jpg" alt="Yena's Blog Image">
                                        </a>
                                    </div>
                                </div>
                                <div class="blog-content">
                                    <span>Uncategorized</span>
                                    <h2 class="title font-style_italic"><a href="blog-single-post.html">20 Gift Ideas for Your Stressed Out Loved One</a></h2>
                                    <div class="post-meta">
                                        <ul>
                                            <li>By <a href="javascript:void(0)">HasTech</a></li>
                                            <li>December 23, 2020</li>
                                        </ul>
                                    </div>
                                    <a class="yena-btn yena-btn_sm transparent-btn whisper-color" href="blog-single-post.html">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="blog-item blog-grid_item border-on_hover">
                            <div class="single-blog">
                                <div class="blog-img">
                                    <div class="inner-img img-zoom_effect">
                                        <a href="blog-single-post.html">
                                            <img class="img-full" src="images/blog/medium-size/1.jpg" alt="Yena's Blog Image">
                                        </a>
                                    </div>
                                </div>
                                <div class="blog-content">
                                    <span>Uncategorized</span>
                                    <h2 class="title font-style_italic"><a href="blog-single-post.html">20 Gift Ideas for Your Stressed Out Loved One</a></h2>
                                    <div class="post-meta">
                                        <ul>
                                            <li>By <a href="javascript:void(0)">HasTech</a></li>
                                            <li>December 23, 2020</li>
                                        </ul>
                                    </div>
                                    <a class="yena-btn yena-btn_sm transparent-btn whisper-color" href="blog-single-post.html">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="blog-item blog-grid_item border-on_hover">
                            <div class="single-blog">
                                <div class="blog-img">
                                    <div class="inner-img img-zoom_effect">
                                        <a href="blog-single-post.html">
                                            <img class="img-full" src="images/blog/medium-size/2.jpg" alt="Yena's Blog Image">
                                        </a>
                                    </div>
                                </div>
                                <div class="blog-content">
                                    <span>Uncategorized</span>
                                    <h2 class="title font-style_italic"><a href="blog-single-post.html">20 Gift Ideas for Your Stressed Out Loved One</a></h2>
                                    <div class="post-meta">
                                        <ul>
                                            <li>By <a href="javascript:void(0)">HasTech</a></li>
                                            <li>December 23, 2020</li>
                                        </ul>
                                    </div>
                                    <a class="yena-btn yena-btn_sm transparent-btn whisper-color" href="blog-single-post.html">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="blog-item side-banner_item">
                            <div class="side-banner_img">
                                <a href="javascript:void(0)">
                                    <img class="img-full" src="images/blog/medium-size/side-banner/2.jpg" alt="Side Banner">
                                </a>
                            </div>
                            <div class="side-banner_text">
                                <h3 class="font-style_italic text-capitalize mb-0">Beauty is not in the face; beauty is a light in the heart. ..</h3>
                                <span>Jeff Keller</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="load-more_wrap">
                            <div class="inner-wrap">
                                <a class="yena-btn transparent-btn black-color specific-hover_color" href="javascript:void(0)">Load More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Blog Grid Basic Area End Here -->

        <!-- Begin Footer Area -->
        <!-- Footer Area End Here -->

        <%- include("partials/footer") -%>