<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Coming Soon || Yena</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">

    <!-- CSS
	============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Dlicon Icon -->
    <link rel="stylesheet" href="css/dlicon.min.css">
    <!-- lastudioicon -->
    <link rel="stylesheet" href="css/lastudioicon.min.css">
    <!-- Slick CSS -->
    <link rel="stylesheet" href="css/slick.min.css">
    <!-- Animation -->
    <link rel="stylesheet" href="css/animate.min.css">
    <!-- jQuery Ui -->
    <link rel="stylesheet" href="css/jquery-ui.min.css">
    <!-- Nice Select -->
    <link rel="stylesheet" href="css/nice-select.min.css">
    <!-- Timecircles -->
    <link rel="stylesheet" href="css/timecircles.min.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="css/magnific-popup.min.css">
    <!-- Light Gallery -->
    <link rel="stylesheet" href="css/lightgallery.min.css">

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- <link rel="stylesheet" href="css/style.min.css"> -->

</head>

<body class="template-color-1">

    <div class="main-wrapper">

        <!-- Begin Loading Area -->
        <div class="loading">
            <div class="text-center middle">
                <span class="loader">
            <span class="loader-inner"></span>
                </span>
            </div>
        </div>
        <!-- Loading Area End Here -->
        <!-- Begin Coming Soon Area -->
        <div class="coming-soon_area">
            <div class="coming-soon_content">
                <h2 class="heading font-style_italic">We’re Building Something New</h2>
                <div class="countdown-wrap white-text_color">
                    <div class="countdown item-4" data-countdown="2022/8/01" data-format="short">
                        <div class="countdown__item">
                            <span class="countdown__time daysLeft"></span>
                            <span class="countdown__text daysText"></span>
                        </div>
                        <div class="countdown__item">
                            <span class="countdown__time hoursLeft"></span>
                            <span class="countdown__text hoursText"></span>
                        </div>
                        <div class="countdown__item">
                            <span class="countdown__time minsLeft"></span>
                            <span class="countdown__text minsText"></span>
                        </div>
                        <div class="countdown__item">
                            <span class="countdown__time secsLeft"></span>
                            <span class="countdown__text secsText"></span>
                        </div>
                    </div>
                </div>
                <div class="coming-soon_btn">
                    <a class="yena-btn transparent-btn white-border text-capitalize" href="javascript:void(0)">Get
                        Notification</a>
                </div>
                <div class="social-link">
                    <ul>
                        <li class="facebook">
                            <a href="https://www.facebook.com/" data-bs-toggle="tooltip" target="_blank" title="Facebook">
                                <i class="lastudioicon-b-facebook"></i>
                            </a>
                        </li>
                        <li class="twitter">
                            <a href="https://twitter.com/" data-bs-toggle="tooltip" target="_blank" title="Twitter">
                                <i class="lastudioicon-b-twitter"></i>
                            </a>
                        </li>
                        <li class="instagram">
                            <a href="https://www.instagram.com/" data-bs-toggle="tooltip" target="_blank" title="Instagram">
                                <i class="lastudioicon-b-instagram"></i>
                            </a>
                        </li>
                        <li class="vimeo">
                            <a href="https://vimeo.com/" data-bs-toggle="tooltip" target="_blank" title="Vimeo">
                                <i class="lastudioicon-b-vimeo"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Coming Soon Area End Here -->

    </div>

    <!-- JS
============================================ -->

    <!-- jQuery JS -->
    <script src="js/vendor/jquery-3.6.0.min.js"></script>
    <script src="js/vendor/jquery-migrate-3.3.2.min.js"></script>
    <!-- Modernizer JS -->
    <script src="js/vendor/modernizr-3.11.2.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="js/vendor/bootstrap.bundle.min.js"></script>

    <!-- Slick Slider JS -->
    <script src="js/plugins/slick.min.js"></script>
    <!-- Barrating JS -->
    <script src="js/plugins/jquery.barrating.min.js"></script>
    <!-- Counterup JS -->
    <script src="js/plugins/jquery.counterup.min.js"></script>
    <!-- Nice Select JS -->
    <script src="js/plugins/jquery.nice-select.min.js"></script>
    <!-- Sticky Sidebar JS -->
    <script src="js/plugins/jquery.sticky-sidebar.min.js"></script>
    <!-- Jquery-ui JS -->
    <script src="js/plugins/jquery-ui.min.js"></script>
    <script src="js/plugins/jquery.ui.touch-punch.min.js"></script>
    <!-- Theia Sticky Sidebar JS -->
    <script src="js/plugins/theia-sticky-sidebar.min.js"></script>
    <!-- Waypoints JS -->
    <script src="js/plugins/waypoints.min.js"></script>
    <!-- jQuery Zoom JS -->
    <script src="js/plugins/jquery.zoom.min.js"></script>
    <!-- Timecircles JS -->
    <script src="js/plugins/timecircles.min.js"></script>
    <!-- Jarallax JS -->
    <script src="js/plugins/jarallax.min.js"></script>
    <!-- Magnific Popup JS -->
    <script src="js/plugins/jquery.magnific-popup.min.js"></script>
    <!-- Wow JS -->
    <script src="js/plugins/wow.min.js"></script>
    <!-- svg Inject JS -->
    <script src="js/plugins/svg-inject.min.js"></script>
    <!-- Isotope JS -->
    <script src="js/plugins/isotope.pkgd.min.js"></script>
    <!-- lightgallery JS -->
    <script src="js/plugins/lightgallery.min.js"></script>
    <!-- imagesloaded JS -->
    <script src="js/plugins/imagesloaded.pkgd.min.js"></script>

    <!-- Main JS -->
    <script src="js/main.js"></script>
    <!-- <script src="js/main.min.js"></script> -->

</body>

</html>