<%- include("partials/header") -%>
        <!-- Main Header Area End Here -->

        <!-- Begin Yena's Breadcrumb Area -->
        <div class="breadcrumb-area ">
            <div class="container-fluid h-100">
                <div class="breadcrumb-content h-100">
                    <h2 class="text-capitalize mb-0">FAQs</h2>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li class="active">FAQs</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Yena's Breadcrumb Area End Here -->

        <!-- Begin Main Content -->
        <main class="main-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="frequently-area">
                            <h2 class="heading mb-0">General Question</h2>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="frequently-item">
                                                <ul>
                                                    <li class="has-sub active">
                                                        <a href="javascript:void(0)">Before you get started
                                                            <i class="lastudioicon lastudioicon-e-add"></i>
                                                        </a>
                                                        <ul class="frequently-body">
                                                            <li>
                                                                Nulla imperdiet odio tempor nisl vulputate scelerisque. Fusce interdum ultricies convallis. Vivamus efficitur purus eu elit scelerisque blandit. Nullam viverra est quis erat fringilla, at rutrum sem lacinia.
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class="has-sub">
                                                        <a href="javascript:void(0)">Compatibility with premium plugins
                                                            <i class="lastudioicon lastudioicon-e-add"></i>
                                                        </a>
                                                        <ul class="frequently-body">
                                                            <li>
                                                                Nulla imperdiet odio tempor nisl vulputate scelerisque. Fusce interdum ultricies convallis. Vivamus efficitur purus eu elit scelerisque blandit. Nullam viverra est quis erat fringilla, at rutrum sem lacinia.
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class="has-sub">
                                                        <a href="javascript:void(0)">Install theme demo contents
                                                            <i class="lastudioicon lastudioicon-e-add"></i>
                                                        </a>
                                                        <ul class="frequently-body">
                                                            <li>
                                                                Nulla imperdiet odio tempor nisl vulputate scelerisque. Fusce interdum ultricies convallis. Vivamus efficitur purus eu elit scelerisque blandit. Nullam viverra est quis erat fringilla, at rutrum sem lacinia.
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class="has-sub">
                                                        <a href="javascript:void(0)">Translation and localization services
                                                            <i class="lastudioicon lastudioicon-e-add"></i>
                                                        </a>
                                                        <ul class="frequently-body">
                                                            <li>
                                                                Nulla imperdiet odio tempor nisl vulputate scelerisque. Fusce interdum ultricies convallis. Vivamus efficitur purus eu elit scelerisque blandit. Nullam viverra est quis erat fringilla, at rutrum sem lacinia.
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class="has-sub">
                                                        <a href="javascript:void(0)">Live chat support
                                                            <i class="lastudioicon lastudioicon-e-add"></i>
                                                        </a>
                                                        <ul class="frequently-body">
                                                            <li>
                                                                Nulla imperdiet odio tempor nisl vulputate scelerisque. Fusce interdum ultricies convallis. Vivamus efficitur purus eu elit scelerisque blandit. Nullam viverra est quis erat fringilla, at rutrum sem lacinia.
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="frequently-item">
                                                <ul>
                                                    <li class="has-sub active">
                                                        <a href="javascript:void(0)">Before you get started
                                                            <i class="lastudioicon lastudioicon-e-add"></i>
                                                        </a>
                                                        <ul class="frequently-body">
                                                            <li>
                                                                Nulla imperdiet odio tempor nisl vulputate scelerisque. Fusce interdum ultricies convallis. Vivamus efficitur purus eu elit scelerisque blandit. Nullam viverra est quis erat fringilla, at rutrum sem lacinia.
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class="has-sub">
                                                        <a href="javascript:void(0)">Compatibility with premium plugins
                                                            <i class="lastudioicon lastudioicon-e-add"></i>
                                                        </a>
                                                        <ul class="frequently-body">
                                                            <li>
                                                                Nulla imperdiet odio tempor nisl vulputate scelerisque. Fusce interdum ultricies convallis. Vivamus efficitur purus eu elit scelerisque blandit. Nullam viverra est quis erat fringilla, at rutrum sem lacinia.
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class="has-sub">
                                                        <a href="javascript:void(0)">Install theme demo contents
                                                            <i class="lastudioicon lastudioicon-e-add"></i>
                                                        </a>
                                                        <ul class="frequently-body">
                                                            <li>
                                                                Nulla imperdiet odio tempor nisl vulputate scelerisque. Fusce interdum ultricies convallis. Vivamus efficitur purus eu elit scelerisque blandit. Nullam viverra est quis erat fringilla, at rutrum sem lacinia.
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class="has-sub">
                                                        <a href="javascript:void(0)">Translation and localization services
                                                            <i class="lastudioicon lastudioicon-e-add"></i>
                                                        </a>
                                                        <ul class="frequently-body">
                                                            <li>
                                                                Nulla imperdiet odio tempor nisl vulputate scelerisque. Fusce interdum ultricies convallis. Vivamus efficitur purus eu elit scelerisque blandit. Nullam viverra est quis erat fringilla, at rutrum sem lacinia.
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class="has-sub m-sm-0">
                                                        <a href="javascript:void(0)">Live chat support
                                                            <i class="lastudioicon lastudioicon-e-add"></i>
                                                        </a>
                                                        <ul class="frequently-body">
                                                            <li>
                                                                Nulla imperdiet odio tempor nisl vulputate scelerisque. Fusce interdum ultricies convallis. Vivamus efficitur purus eu elit scelerisque blandit. Nullam viverra est quis erat fringilla, at rutrum sem lacinia.
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="frequently-area section-space_bottom">
                            <h2 class="heading mb-0">Payment & Gift card</h2>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="frequently-item">
                                                <ul>
                                                    <li class="has-sub active">
                                                        <a href="javascript:void(0)">Changing the timezone
                                                            <i class="lastudioicon lastudioicon-e-add"></i>
                                                        </a>
                                                        <ul class="frequently-body">
                                                            <li>
                                                                Nulla imperdiet odio tempor nisl vulputate scelerisque. Fusce interdum ultricies convallis. Vivamus efficitur purus eu elit scelerisque blandit. Nullam viverra est quis erat fringilla, at rutrum sem lacinia.
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class="has-sub">
                                                        <a href="javascript:void(0)">Developer documentation
                                                            <i class="lastudioicon lastudioicon-e-add"></i>
                                                        </a>
                                                        <ul class="frequently-body">
                                                            <li>
                                                                Nulla imperdiet odio tempor nisl vulputate scelerisque. Fusce interdum ultricies convallis. Vivamus efficitur purus eu elit scelerisque blandit. Nullam viverra est quis erat fringilla, at rutrum sem lacinia.
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class="has-sub">
                                                        <a href="javascript:void(0)">Connnection social media channels
                                                            <i class="lastudioicon lastudioicon-e-add"></i>
                                                        </a>
                                                        <ul class="frequently-body">
                                                            <li>
                                                                Nulla imperdiet odio tempor nisl vulputate scelerisque. Fusce interdum ultricies convallis. Vivamus efficitur purus eu elit scelerisque blandit. Nullam viverra est quis erat fringilla, at rutrum sem lacinia.
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class="has-sub">
                                                        <a href="javascript:void(0)">Optimize theme speed & perfomance
                                                            <i class="lastudioicon lastudioicon-e-add"></i>
                                                        </a>
                                                        <ul class="frequently-body">
                                                            <li>
                                                                Nulla imperdiet odio tempor nisl vulputate scelerisque. Fusce interdum ultricies convallis. Vivamus efficitur purus eu elit scelerisque blandit. Nullam viverra est quis erat fringilla, at rutrum sem lacinia.
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="frequently-item">
                                                <ul>
                                                    <li class="has-sub active">
                                                        <a href="javascript:void(0)">Fully responsive
                                                            <i class="lastudioicon lastudioicon-e-add"></i>
                                                        </a>
                                                        <ul class="frequently-body">
                                                            <li>
                                                                Nulla imperdiet odio tempor nisl vulputate scelerisque. Fusce interdum ultricies convallis. Vivamus efficitur purus eu elit scelerisque blandit. Nullam viverra est quis erat fringilla, at rutrum sem lacinia.
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class="has-sub">
                                                        <a href="javascript:void(0)">Translation and localization services
                                                            <i class="lastudioicon lastudioicon-e-add"></i>
                                                        </a>
                                                        <ul class="frequently-body">
                                                            <li>
                                                                Nulla imperdiet odio tempor nisl vulputate scelerisque. Fusce interdum ultricies convallis. Vivamus efficitur purus eu elit scelerisque blandit. Nullam viverra est quis erat fringilla, at rutrum sem lacinia.
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class="has-sub">
                                                        <a href="javascript:void(0)">Live chat support
                                                            <i class="lastudioicon lastudioicon-e-add"></i>
                                                        </a>
                                                        <ul class="frequently-body">
                                                            <li>
                                                                Nulla imperdiet odio tempor nisl vulputate scelerisque. Fusce interdum ultricies convallis. Vivamus efficitur purus eu elit scelerisque blandit. Nullam viverra est quis erat fringilla, at rutrum sem lacinia.
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class="has-sub m-sm-0">
                                                        <a href="javascript:void(0)">RTL Support now
                                                            <i class="lastudioicon lastudioicon-e-add"></i>
                                                        </a>
                                                        <ul class="frequently-body">
                                                            <li>
                                                                Nulla imperdiet odio tempor nisl vulputate scelerisque. Fusce interdum ultricies convallis. Vivamus efficitur purus eu elit scelerisque blandit. Nullam viverra est quis erat fringilla, at rutrum sem lacinia.
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="affiliate-banner_area bg-sorbus">
                <div class="container-fluid">
                    <div class="affiliate-banner_content">
                        <h2 class="heading mb-0">Start working together?</h2>
                        <div class="banner-btn">
                            <a class="yena-btn white-color text-capitalize" href="javascript:void(0)">Purchase theme</a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- Main Content End Here -->

        <!-- Begin Footer Area -->
        <%- include("partials/footer") -%>