<%- include("partials/header") -%>
        <!-- Main Header Area End Here -->

        <!-- Begin Yena's Breadcrumb Area -->
        <div class="breadcrumb-area ">
            <div class="container-fluid h-100">
                <div class="breadcrumb-content h-100">
                    <h2 class="text-capitalize mb-0">Grouped Product</h2>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li class="active">Product Layout</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Yena's Breadcrumb Area End Here -->

        <!-- Begin Grouped Product Area -->
        <main class="pl-main_content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="product-details_area row">
                            <div class="col-lg-6">
                                <div class="product-details_img vertical-tab">
                                    <div class="product-details_slider lightgallery slick-img-slider yena-element-carousel" data-slick-options='{
                                        "slidesToShow": 1,
                                        "arrows": false,
                                        "fade": true,
                                        "draggable": false,
                                        "swipe": false,
                                        "asNavFor": ".pd-slider-nav"
                                        }'>
                                        <div class="single-img zoom">
                                            <img src="images/product/large-size/1.jpg" alt="Yena's Product Image">
                                            <span class="sticker">New</span>
                                            <div class="inner-stuff">
                                                <ul>
                                                    <li class="gallery-item" data-src="images/product/large-size/1.jpg">
                                                        <a href="javascript:void(0)">
                                                            <i class="lastudioicon-full-screen"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="single-img zoom">
                                            <img src="images/product/large-size/2.jpg" alt="Yena's Product Image">
                                            <span class="sticker">New</span>
                                            <div class="inner-stuff">
                                                <ul>
                                                    <li class="gallery-item" data-src="images/product/large-size/2.jpg">
                                                        <a href="javascript:void(0)">
                                                            <i class="lastudioicon-full-screen"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="single-img zoom">
                                            <img src="images/product/large-size/3.jpg" alt="Yena's Product Image">
                                            <span class="sticker">New</span>
                                            <div class="inner-stuff">
                                                <ul>
                                                    <li class="gallery-item" data-src="images/product/large-size/3.jpg">
                                                        <a href="javascript:void(0)">
                                                            <i class="lastudioicon-full-screen"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="single-img zoom">
                                            <img src="images/product/large-size/4.jpg" alt="Yena's Product Image">
                                            <span class="sticker">New</span>
                                            <div class="inner-stuff">
                                                <ul>
                                                    <li class="gallery-item" data-src="images/product/large-size/4.jpg">
                                                        <a href="javascript:void(0)">
                                                            <i class="lastudioicon-full-screen"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pd-slider-nav yena-element-carousel arrow-style-2 arrow-sm_size arrow-day_color" data-slick-options='{
                                        "slidesToShow": 3,
                                        "asNavFor": ".product-details_slider",
                                        "focusOnSelect": true,
                                        "arrows" : true,
                                        "spaceBetween": 30,
                                        "vertical" : true
                                        }' data-slick-responsive='[
                                                {"breakpoint":1501, "settings": {"slidesToShow": 3}},
                                                {"breakpoint":1200, "settings": {"slidesToShow": 2}},
                                                {"breakpoint":992, "settings": {"slidesToShow": 4}},
                                                {"breakpoint":768, "settings": {"slidesToShow": 3}},
                                                {"breakpoint":575, "settings": {"slidesToShow": 2}}
                                            ]'>
                                        <div class="single-thumb">
                                            <img src="images/product/large-size/1.jpg" alt="Yena's Product Thumnail">
                                        </div>
                                        <div class="single-thumb">
                                            <img src="images/product/large-size/2.jpg" alt="Yena's Product Thumnail">
                                        </div>
                                        <div class="single-thumb">
                                            <img src="images/product/large-size/3.jpg" alt="Yena's Product Thumnail">
                                        </div>
                                        <div class="single-thumb">
                                            <img src="images/product/large-size/4.jpg" alt="Yena's Product Thumnail">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="product-details_content">
                                    <h3 class="heading text-uppercase mb-0">Natural Skin Care Alpha Hydroxy Acid</h3>
                                    <div class="essential-stuff">
                                        <div class="price-box">
                                            <span class="new-price">$20.00 - $49.00</span>
                                        </div>
                                    </div>
                                    <p class="short-desc mb-0">In elit risus, volutpat sed vestibulum sit amet, bibendum in
                                        lorem. Etiam aliquet convallis nibh at tempus. Proin gravida tincidunt egestas.
                                        Curabitur porta nibh ac enim semper, vitae pretium ante sollicitudin.</p>
                                    <div class="grouped-qty">
                                        <div class="quantity">
                                            <div class="cart-plus-minus">
                                                <div class="dec qtybutton"><i class="lastudioicon-i-delete-2"></i></div>
                                                <input class="cart-plus-minus-box" value="1" type="text">
                                                <div class="inc qtybutton"><i class="lastudioicon-i-add-2"></i></div>
                                            </div>
                                        </div>
                                        <div class="product-info">
                                            <h3 class="product-name mb-0">
                                                <a href="javascript:void()">InstaBoost Conditioning Color Masque</a>
                                            </h3>
                                            <div class="price-box">
                                                <span class="new-price">$20.00</span>
                                            </div>
                                        </div>
                                        <div class="in-stock_wrap">
                                            <span class="in-stock">
                                        <i class="lastudioicon-check"></i>998 in stock
                                    </span>
                                        </div>
                                    </div>
                                    <div class="grouped-qty pt-0">
                                        <div class="quantity">
                                            <div class="cart-plus-minus">
                                                <div class="dec qtybutton"><i class="lastudioicon-i-delete-2"></i></div>
                                                <input class="cart-plus-minus-box" value="1" type="text">
                                                <div class="inc qtybutton"><i class="lastudioicon-i-add-2"></i></div>
                                            </div>
                                        </div>
                                        <div class="product-info">
                                            <h3 class="product-name mb-0">
                                                <a href="javascript:void()">InstaBoost Conditioning Color Masque</a>
                                            </h3>
                                            <div class="price-box">
                                                <span class="new-price">$30.00</span>
                                            </div>
                                        </div>
                                        <div class="in-stock_wrap">
                                            <span class="in-stock">
                                        <i class="lastudioicon-check"></i>999 in stock
                                    </span>
                                        </div>
                                    </div>
                                    <div class="grouped-qty pt-0">
                                        <div class="quantity">
                                            <div class="cart-plus-minus">
                                                <div class="dec qtybutton"><i class="lastudioicon-i-delete-2"></i></div>
                                                <input class="cart-plus-minus-box" value="1" type="text">
                                                <div class="inc qtybutton"><i class="lastudioicon-i-add-2"></i></div>
                                            </div>
                                        </div>
                                        <div class="product-info">
                                            <h3 class="product-name mb-0">
                                                <a href="javascript:void()">InstaBoost Conditioning Color Masque</a>
                                            </h3>
                                            <div class="price-box">
                                                <span class="old-price">$59.99</span>
                                                <span class="new-price">$49.99</span>
                                            </div>
                                        </div>
                                        <div class="in-stock_wrap">
                                            <span class="in-stock">
                                        <i class="lastudioicon-check"></i>998 in stock
                                    </span>
                                        </div>
                                    </div>
                                    <div class="quantity-with_btn without-quantity">
                                        <div class="add-to_cart ms-0">
                                            <a class="yena-btn sorbus-color" href="javascript:void(0)">Add to cart</a>
                                        </div>
                                    </div>
                                    <ul class="additional-btn">
                                        <li>
                                            <a href="javascript:void(0)"><i class="lastudioicon-heart-2"></i> Add to
                                                wishlist</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)"><i class="lastudioicon-compare"></i> Add to compare</a>
                                        </li>
                                    </ul>
                                    <div class="sku">
                                        <span>SKU: LA123</span>
                                    </div>
                                    <ul class="categories">
                                        <li>Categories: </li>
                                        <li>
                                            <a href="javascript:void(0)">Foot, Hand & Nail Care,</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">Fragrance,</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">Hair Care,</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">Makeup,</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">Skin Care</a>
                                        </li>
                                    </ul>
                                    <ul class="categories tags">
                                        <li>Tags: </li>
                                        <li>
                                            <a href="javascript:void(0)">Beauty,</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">Beauty01,</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">Cosmetic,</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">Skin solution,</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">Skincare</a>
                                        </li>
                                    </ul>
                                    <div class="social-link with-color with-radius">
                                        <ul>
                                            <li class="facebook">
                                                <a href="https://www.facebook.com/" data-bs-toggle="tooltip" target="_blank" title="Facebook">
                                                    <i class="lastudioicon-b-facebook"></i>
                                                </a>
                                            </li>
                                            <li class="twitter">
                                                <a href="https://twitter.com/" data-bs-toggle="tooltip" target="_blank" title="Twitter">
                                                    <i class="lastudioicon-b-twitter"></i>
                                                </a>
                                            </li>
                                            <li class="instagram">
                                                <a href="https://www.instagram.com/" data-bs-toggle="tooltip" target="_blank" title="Instagram">
                                                    <i class="lastudioicon-b-instagram"></i>
                                                </a>
                                            </li>
                                            <li class="vimeo">
                                                <a href="https://vimeo.com/" data-bs-toggle="tooltip" target="_blank" title="Vimeo">
                                                    <i class="lastudioicon-b-vimeo"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Begin Yena's Product Tab Area Four -->
            <div class="yena-product-tab_area-3 yena-product-tab_area-4 ">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="product-tab">
                                <ul class="nav product-menu">
                                    <li><a class="active" data-bs-toggle="tab" href="#description"><span>Description</span></a></li>
                                    <li><a data-bs-toggle="tab" href="#additional-info"><span>Additional information</span></a></li>
                                    <li><a data-bs-toggle="tab" href="#reviews"><span>Reviews (1)</span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="tab-content yena-tab_content">
                                <div id="description" class="tab-pane active show" role="tabpanel">
                                    <div class="desc-body">
                                        <div class="inner-img">
                                            <img class="w-100" src="images/brand-img/1.jpg" alt="Brand Image">
                                        </div>
                                        <div class="inner-content">
                                            <h3 class="heading text-uppercase mb-0">About yena store</h3>
                                            <p class="short-desc mb-0">Donec accumsan auctor iaculis. Sed suscipit arcu ligula, at egestas magna molestie a. Proin ac ex maximus, ultrices justo eget, sodales orci. Aliquam egestas libero ac turpis pharetra, in vehicula lacus scelerisque. Vestibulum ut sem laoreet, feugiat tellus at, hendrerit arcu..</p>
                                            <p class="short-desc mb-0 pb-0">Ac dis vestibulum ut primis eleifend at neque at ornare mus nostra non senectus magna natoque porta scelerisque molestie taciti lobortis torquent ullamcorper a ullamcorper. Hac suspendisse varius ut et consectetur eu in nisi vestibulum consectetur ultricies in dictum consectetur eu hendrerit ante tortor sagittis etiam porta scelerisque molestie</p>
                                        </div>
                                    </div>
                                </div>
                                <div id="additional-info" class="tab-pane" role="tabpanel">
                                    <div class="additional-info_body">
                                        <div class="pd-tab_content">
                                            <table class="table table-bordered">
                                                <tbody>
                                                    <tr>
                                                        <th scope="row">Brand</th>
                                                        <td colspan="3">Forever 21, HM, Lacote, Mango, Six8, Uniquilo, Versatile, Zara</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">Color</th>
                                                        <td colspan="3">Blue, Brown, Gray, Green, Orange, Purple, Red, Yellow</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">Size</th>
                                                        <td colspan="3">L, M, S, X, XL, XXL</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div id="reviews" class="tab-pane" role="tabpanel">
                                    <div class="review-body">
                                        <h3 class="heading font-style_italic mb-0">InstaBoost Conditioning Color Masque</h3>
                                        <ul class="user-info">
                                            <li class="user-avatar">
                                                <img src="images/blog/small-size/avatar/1.png" alt="User">
                                            </li>
                                            <li class="user-comment">
                                                <div class="rating-box">
                                                    <ul>
                                                        <li><i class="lastudioicon-star-rate-1"></i></li>
                                                        <li><i class="lastudioicon-star-rate-1"></i></li>
                                                        <li><i class="lastudioicon-star-rate-1"></i></li>
                                                        <li><i class="lastudioicon-star-rate-1"></i></li>
                                                        <li><i class="lastudioicon-star-rate-1"></i></li>
                                                    </ul>
                                                </div>
                                                <div class="meta">
                                                    <strong>Draygon - </strong>
                                                    <span>December 10, 2020</span>
                                                </div>
                                                <p class="short-desc mb-0">In elit risus, volutpat sed vestibulum sit amet, bibendum in lorem. Etiam aliquet convallis nibh at tempus. Proin gravida tincidunt egestas. Curabitur porta nibh ac enim semper, vitae pretium ante sollicitudin.</p>
                                            </li>
                                        </ul>
                                        <div class="user-feedback">
                                            <h3 class="heading font-style_italic mb-0">Add a review</h3>
                                            <p class="short-desc mb-0">Your email address will not be published.</p>
                                            <div class="rating-box">
                                                <span>Your rating</span>
                                                <ul>
                                                    <li><i class="lastudioicon-star-rate-1"></i></li>
                                                    <li><i class="lastudioicon-star-rate-1"></i></li>
                                                    <li><i class="lastudioicon-star-rate-1"></i></li>
                                                    <li><i class="lastudioicon-star-rate-1"></i></li>
                                                    <li><i class="lastudioicon-star-rate-1"></i></li>
                                                </ul>
                                            </div>
                                            <form class="feedback-form" action="#">
                                                <div class="comment-field">
                                                    <label class="label-field mb-0">Your review*</label>
                                                    <textarea name="commnet" spellcheck="false" class="textarea-field"></textarea>
                                                </div>
                                                <div class="group-input">
                                                    <div class="name-field">
                                                        <label class="label-field mb-0">Name*</label>
                                                        <input type="text" name="name" class="input-field input-name">
                                                    </div>
                                                    <div class="email-field">
                                                        <label class="label-field mb-0">Email*</label>
                                                        <input type="text" name="email" class="input-field input-email">
                                                    </div>
                                                </div>
                                                <div class="field-checkbox">
                                                    <input class="input-checkbox" type="checkbox" id="remember_me">
                                                    <label class="label-checkbox mb-0" for="remember_me">Save my name, email, and website in this browser for the next time I comment.</label>
                                                </div>
                                                <div class="comment-btn_wrap">
                                                    <a class="yena-btn" href="javascript:void">Submit</a>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Yena's Product Tab Area Four End Here -->

            <!-- Begin Yena's Product Area Five -->
            <div class="yena-product_area-5">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section-title-4">
                                <h2 class="heading text-capitalize font-style_italic mb-30">Related Products</h2>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="yena-element-carousel product-slider" data-slick-options='{
                        "slidesToShow": 4,
                        "slidesToScroll": 1,
                        "infinite": false,
                        "arrows": false,
                        "dots": false,
                        "spaceBetween_xl": 60
                        }' data-slick-responsive='[
                        {"breakpoint":992, "settings": {
                        "slidesToShow": 2
                        }},
                        {"breakpoint":576, "settings": {
                        "slidesToShow": 1
                        }}
                    ]'>

                                <div class="product-item">
                                    <div class="single-product">
                                        <div class="product-img">
                                            <a href="single-product.html">
                                                <img class="primary-img" src="images/product/medium-size/8-2.jpg" alt="Yena's Product Image">
                                                <img class="secondary-img" src="images/product/medium-size/8-1.jpg" alt="Yena's Product Image">
                                            </a>
                                            <div class="add-actions">
                                                <ul>
                                                    <li><a href="cart.html" data-bs-toggle="tooltip" data-placement="top" title="Add To cart"><i class="lastudioicon-shopping-cart-3"></i></a>
                                                    </li>
                                                    <li class="Yena's-view-btn" data-bs-toggle="modal" data-bs-target="#exampleModalCenter"><a href="javascript:void(0)" data-bs-toggle="tooltip" data-placement="top" title="Yena's View"><i
                                                        class="lastudioicon-eye"></i></a>
                                                    </li>
                                                    <li><a href="wishlist.html" data-bs-toggle="tooltip" data-placement="top" title="Add To Wishlist"><i class="lastudioicon-heart-2"></i></a>
                                                    </li>
                                                    <li><a href="compare.html" data-bs-toggle="tooltip" data-placement="top" title="Add To Compare"><i class="lastudioicon-compare"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="product-content exceptional-font_family">
                                            <div class="product-desc_info">
                                                <h3 class="product-name"><a href="single-product.html">Rest and Sleep Calming Spray</a></h3>
                                                <div class="price-box">
                                                    <span class="new-price ms-0">$59.99</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-item">
                                    <div class="single-product">
                                        <div class="product-img">
                                            <a href="single-product.html">
                                                <img class="primary-img" src="images/product/medium-size/7-2.jpg" alt="Yena's Product Image">
                                                <img class="secondary-img" src="images/product/medium-size/7-1.jpg" alt="Yena's Product Image">
                                            </a>
                                            <span class="sticker">New</span>
                                            <div class="add-actions">
                                                <ul>
                                                    <li><a href="cart.html" data-bs-toggle="tooltip" data-placement="top" title="Add To cart"><i class="lastudioicon-shopping-cart-3"></i></a>
                                                    </li>
                                                    <li class="Yena's-view-btn" data-bs-toggle="modal" data-bs-target="#exampleModalCenter"><a href="javascript:void(0)" data-bs-toggle="tooltip" data-placement="top" title="Yena's View"><i
                                                        class="lastudioicon-eye"></i></a>
                                                    </li>
                                                    <li><a href="wishlist.html" data-bs-toggle="tooltip" data-placement="top" title="Add To Wishlist"><i class="lastudioicon-heart-2"></i></a>
                                                    </li>
                                                    <li><a href="compare.html" data-bs-toggle="tooltip" data-placement="top" title="Add To Compare"><i class="lastudioicon-compare"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="product-content exceptional-font_family">
                                            <div class="product-desc_info">
                                                <h3 class="product-name"><a href="single-product.html">InstaBoost Conditioning Color Masque</a></h3>
                                                <div class="price-box">
                                                    <span class="old-price">$59.99</span>
                                                    <span class="new-price">$49.99</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-item">
                                    <div class="single-product">
                                        <div class="product-img">
                                            <a href="single-product.html">
                                                <img class="primary-img" src="images/product/medium-size/6-2.jpg" alt="Yena's Product Image">
                                                <img class="secondary-img" src="images/product/medium-size/6-1.jpg" alt="Yena's Product Image">
                                            </a>
                                            <div class="add-actions">
                                                <ul>
                                                    <li><a href="cart.html" data-bs-toggle="tooltip" data-placement="top" title="Add To cart"><i class="lastudioicon-shopping-cart-3"></i></a>
                                                    </li>
                                                    <li class="Yena's-view-btn" data-bs-toggle="modal" data-bs-target="#exampleModalCenter"><a href="javascript:void(0)" data-bs-toggle="tooltip" data-placement="top" title="Yena's View"><i
                                                        class="lastudioicon-eye"></i></a>
                                                    </li>
                                                    <li><a href="wishlist.html" data-bs-toggle="tooltip" data-placement="top" title="Add To Wishlist"><i class="lastudioicon-heart-2"></i></a>
                                                    </li>
                                                    <li><a href="compare.html" data-bs-toggle="tooltip" data-placement="top" title="Add To Compare"><i class="lastudioicon-compare"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="product-content exceptional-font_family">
                                            <div class="product-desc_info">
                                                <h3 class="product-name"><a href="single-product.html">InstaBoost Conditioning Color Masque</a></h3>
                                                <div class="price-box">
                                                    <span class="new-price ms-0">$49.99</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-item">
                                    <div class="single-product">
                                        <div class="product-img">
                                            <a href="single-product.html">
                                                <img class="primary-img" src="images/product/medium-size/5-2.jpg" alt="Yena's Product Image">
                                                <img class="secondary-img" src="images/product/medium-size/5-1.jpg" alt="Yena's Product Image">
                                            </a>
                                            <div class="add-actions">
                                                <ul>
                                                    <li><a href="cart.html" data-bs-toggle="tooltip" data-placement="top" title="Add To cart"><i class="lastudioicon-shopping-cart-3"></i></a>
                                                    </li>
                                                    <li class="Yena's-view-btn" data-bs-toggle="modal" data-bs-target="#exampleModalCenter"><a href="javascript:void(0)" data-bs-toggle="tooltip" data-placement="top" title="Yena's View"><i
                                                        class="lastudioicon-eye"></i></a>
                                                    </li>
                                                    <li><a href="wishlist.html" data-bs-toggle="tooltip" data-placement="top" title="Add To Wishlist"><i class="lastudioicon-heart-2"></i></a>
                                                    </li>
                                                    <li><a href="compare.html" data-bs-toggle="tooltip" data-placement="top" title="Add To Compare"><i class="lastudioicon-compare"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="product-content exceptional-font_family">
                                            <div class="product-desc_info">
                                                <h3 class="product-name"><a href="single-product.html">InstaBoost Conditioning Color Masque</a></h3>
                                                <div class="price-box">
                                                    <span class="new-price ms-0">$59.99</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-item">
                                    <div class="single-product">
                                        <div class="product-img">
                                            <a href="single-product.html">
                                                <img class="primary-img" src="images/product/medium-size/4-2.jpg" alt="Yena's Product Image">
                                                <img class="secondary-img" src="images/product/medium-size/4-1.jpg" alt="Yena's Product Image">
                                            </a>
                                            <div class="add-actions">
                                                <ul>
                                                    <li><a href="cart.html" data-bs-toggle="tooltip" data-placement="top" title="Add To cart"><i class="lastudioicon-shopping-cart-3"></i></a>
                                                    </li>
                                                    <li class="Yena's-view-btn" data-bs-toggle="modal" data-bs-target="#exampleModalCenter"><a href="javascript:void(0)" data-bs-toggle="tooltip" data-placement="top" title="Yena's View"><i
                                                        class="lastudioicon-eye"></i></a>
                                                    </li>
                                                    <li><a href="wishlist.html" data-bs-toggle="tooltip" data-placement="top" title="Add To Wishlist"><i class="lastudioicon-heart-2"></i></a>
                                                    </li>
                                                    <li><a href="compare.html" data-bs-toggle="tooltip" data-placement="top" title="Add To Compare"><i class="lastudioicon-compare"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="product-content exceptional-font_family">
                                            <div class="product-desc_info">
                                                <h3 class="product-name"><a href="single-product.html">Rest and Sleep Calming Spray</a></h3>
                                                <div class="price-box">
                                                    <span class="new-price ms-0">$59.99</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-item">
                                    <div class="single-product">
                                        <div class="product-img">
                                            <a href="single-product.html">
                                                <img class="primary-img" src="images/product/medium-size/3-2.jpg" alt="Yena's Product Image">
                                                <img class="secondary-img" src="images/product/medium-size/3-1.jpg" alt="Yena's Product Image">
                                            </a>
                                            <div class="add-actions">
                                                <ul>
                                                    <li><a href="cart.html" data-bs-toggle="tooltip" data-placement="top" title="Add To cart"><i class="lastudioicon-shopping-cart-3"></i></a>
                                                    </li>
                                                    <li class="Yena's-view-btn" data-bs-toggle="modal" data-bs-target="#exampleModalCenter"><a href="javascript:void(0)" data-bs-toggle="tooltip" data-placement="top" title="Yena's View"><i
                                                        class="lastudioicon-eye"></i></a>
                                                    </li>
                                                    <li><a href="wishlist.html" data-bs-toggle="tooltip" data-placement="top" title="Add To Wishlist"><i class="lastudioicon-heart-2"></i></a>
                                                    </li>
                                                    <li><a href="compare.html" data-bs-toggle="tooltip" data-placement="top" title="Add To Compare"><i class="lastudioicon-compare"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="product-content exceptional-font_family">
                                            <div class="product-desc_info">
                                                <h3 class="product-name"><a href="single-product.html">InstaBoost Conditioning Color Masque</a></h3>
                                                <div class="price-box">
                                                    <span class="old-price">$59.99</span>
                                                    <span class="new-price">$49.99</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Yena's Product Area Five End Here -->

        </main>
        <!-- Grouped Product Area End Here -->

        <!-- Begin Footer Area -->
        <%- include("partials/footer") -%> 