<%- include("partials/header") -%>
        <!-- Main Header Area End Here -->

        <!-- Begin Yena's Breadcrumb Area -->
        <div class="breadcrumb-area breadcrumb-bg-3">
            <div class="container-fluid h-100">
                <div class="breadcrumb-content h-100">
                    <h2 class="text-capitalize mb-0">We Work With Passion​</h2>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li class="active">Our Services</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Yena's Breadcrumb Area End Here -->

        <!-- Begin Main Content Area -->
        <main class="main-content">
            <div class="intro-area">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-md-5">
                            <div class="intro-content me-lg-4">
                                <p class="intro-short_desc font-style_italic mb-0">Founded in Los Angeles in 2020, <strong>The Yena</strong> is the leading resource for those seeking to live an inspired and intentional life.</p>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="additional-content">
                                <p class="short-desc mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                <p class="exception-desc mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="services-banner_area space-top-200">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <div class="services-banner_img me-lg-4">
                                <div class="inner-img">
                                    <img class="w-100" src="images/services/banner/1.jpg" alt="Services Banner">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="services-banner_content">
                                <div class="section-title-2">
                                    <h2 class="heading font-style_italic mb-0">Good Cosmetics</h2>
                                    <div class="section-icon"><img src="images/section-title/1.svg" alt="Section Title Icon"><span class="separator"></span></div>
                                </div>
                                <p class="short-desc mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                <p class="additional-desc mb-0">Ut enim ad minim veniam, quis nostrud exercitation ullamco Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. Ut enim ad minim veniam, quis nostrud exercitation ullamco Lorem ipsum dol.</p>
                                <div class="banner-btn">
                                    <a class="yena-btn transparent-btn black-color" href="javascript:void(0)">Order service</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="services-banner_area services-banner_area-2 space-top-210">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-md-6 order-lg-2">
                            <div class="services-banner_img">
                                <div class="inner-img">
                                    <img class="w-100" src="images/services/banner/2.jpg" alt="Services Banner">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 order-lg-1">
                            <div class="services-banner_content">
                                <div class="section-title-2">
                                    <h2 class="heading font-style_italic mb-0">Good Cosmetics</h2>
                                    <div class="section-icon"><img src="images/section-title/1.svg" alt="Section Title Icon"><span class="separator"></span></div>
                                </div>
                                <p class="short-desc mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                <p class="additional-desc mb-0">Ut enim ad minim veniam, quis nostrud exercitation ullamco Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. Ut enim ad minim veniam, quis nostrud exercitation ullamco Lorem ipsum dol.</p>
                                <div class="banner-btn">
                                    <a class="yena-btn transparent-btn black-color" href="javascript:void(0)">Order service</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="services-banner_area space-top-210 space-bottom-140">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <div class="services-banner_img me-lg-4">
                                <div class="inner-img">
                                    <img class="w-100" src="images/services/banner/3.jpg" alt="Services Banner">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="services-banner_content">
                                <div class="section-title-2">
                                    <h2 class="heading font-style_italic mb-0">Good Cosmetics</h2>
                                    <div class="section-icon"><img src="images/section-title/1.svg" alt="Section Title Icon"><span class="separator"></span></div>
                                </div>
                                <p class="short-desc mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                <p class="additional-desc mb-0">Ut enim ad minim veniam, quis nostrud exercitation ullamco Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. Ut enim ad minim veniam, quis nostrud exercitation ullamco Lorem ipsum dol.</p>
                                <div class="banner-btn">
                                    <a class="yena-btn transparent-btn black-color" href="javascript:void(0)">Order service</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="affiliate-banner_area bg-sorbus">
                <div class="container-fluid">
                    <div class="affiliate-banner_content">
                        <h2 class="heading mb-0">Start working together?</h2>
                        <div class="banner-btn">
                            <a class="yena-btn white-color text-capitalize" href="javascript:void(0)">Purchase theme</a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- Main Content Area End Here -->

        <!-- Begin Footer Area -->
        <div class="footer-area ">
            <div class="footer-top_area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="footer-widgets_area text-center p-0">
                                <div class="logo">
                                    <a href="index.html">
                                        <img src="images/logo/1.png" alt="Footer Logo">
                                    </a>
                                </div>
                                <p class="short-desc font-style_italic">
                                    Yena is the place where everyone can is able to find some beauty called to highlight one’s individuality! We are waiting right for you!
                                </p>
                                <div class="social-link">
                                    <ul>
                                        <li class="facebook">
                                            <a href="https://www.facebook.com/" data-bs-toggle="tooltip" target="_blank" title="Facebook">
                                                <i class="lastudioicon-b-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="twitter">
                                            <a href="https://twitter.com/" data-bs-toggle="tooltip" target="_blank" title="Twitter">
                                                <i class="lastudioicon-b-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="instagram">
                                            <a href="https://www.instagram.com/" data-bs-toggle="tooltip" target="_blank" title="Instagram">
                                                <i class="lastudioicon-b-instagram"></i>
                                            </a>
                                        </li>
                                        <li class="instagram">
                                            <a href="https://vimeo.com/" data-bs-toggle="tooltip" target="_blank" title="Vimeo">
                                                <i class="lastudioicon-b-vimeo"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row footer-widgets_wrap">
                                <div class="col-lg-3 col-sm-4">
                                    <div class="footer-widgets_area">
                                        <div class="footer-widgets">
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0)"><span>About Us</span></a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)"><span>Help Center</span></a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)"><span>Licenses</span></a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)"><span>Licenses</span></a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)"><span>Site Map</span></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-4">
                                    <div class="footer-widgets_area">
                                        <div class="footer-widgets">
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0)"><span>The Collections</span></a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)"><span>Makeup Tutorial</span></a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)"><span>Beauty Inspiration</span></a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)"><span>Look Book</span></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-4">
                                    <div class="footer-widgets_area">
                                        <div class="footer-widgets">
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0)"><span>Makeup</span></a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)"><span>Skin Care</span></a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)"><span>Hair Care</span></a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)"><span>Foot, Hand & Nail Care</span></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="footer-widgets_area">
                                        <div class="footer-widgets">
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0)"><span>Monday - Friday: 9:00 - 19:00</span></a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)"><span class="text-lowercase">info@example.com</span></a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)"><span>(+612) 2531 5600</span></a>
                                                </li>
                                                <li class="line-height-1">
                                                    <a href="javascript:void(0)"><span>PO Box 1622 Colins Street West Victoria 8077 Australia</span></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom_area bg-bokara_grey">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="copyright">
                                <span>&copy; 2022
                                <a href="index.html">Yena.</a>
                                <a href="https://hasthemes.com/" target="_blank">Designed By HasTech.</a>
                            </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fixed-footerbar">
                <ul>
                    <li>
                        <a href="login-register.html">
                            <i class="lastudioicon-circle-10"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#searchBar" class="search-btn toolbar-btn">
                            <i class="lastudioicon-zoom-1"></i>
                        </a>
                    </li>
                    <li class="with-counter">
                        <a href="wishlist.html">
                            <i class="lastudioicon-heart-2"></i>
                            <span class="cart-item_count">3</span>
                        </a>
                    </li>
                    <li class="with-counter">
                        <a href="compare.html">
                            <i class="lastudioicon-chart-bar-32-2"></i>
                            <span class="cart-item_count">3</span>
                        </a>
                    </li>
                    <li class="minicart-wrap with-counter">
                        <a href="#miniCart" class="minicart-btn toolbar-btn position-relative">
                            <div class="minicart-count_area">
                                <i class="lastudioicon-bag-20"></i>
                                <span class="cart-item_count">3</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Footer Area End Here -->

        <%- include("partials/footer") -%>