<%- include("partials/header") -%>
        <!-- Main Header Area End Here -->

        <!-- Begin Yena's Breadcrumb Area -->
        <div class="breadcrumb-area ">
            <div class="container-fluid h-100">
                <div class="breadcrumb-content h-100">
                    <h2 class="text-capitalize mb-0">Wishlist</h2>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li class="active">Wishlist</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Yena's Breadcrumb Area End Here -->

        <!--Begin Yena's Wishlist Area -->
        <div class="yena-wishlist_area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <form action="javascript:void(0)">
                            <div class="table-content table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="yena-product_remove">remove</th>
                                            <th class="yena-product-thumbnail">images</th>
                                            <th class="cart-product-name">Product</th>
                                            <th class="yena-product-price">Unit Price</th>
                                            <th class="yena-product-stock-status">Stock Status</th>
                                            <th class="yena-cart_btn">add to cart</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="yena-product_remove"><a href="javascript:void(0)"><i class="lastudioicon-e-remove"
                                                title="Remove"></i></a></td>
                                            <td class="yena-product-thumbnail"><a href="javascript:void(0)"><img src="images/product/small-size/1.jpg" alt="Yena's Wishlist Thumbnail"></a>
                                            </td>
                                            <td class="yena-product-name"><a href="javascript:void(0)">Juma rema pola</a></td>
                                            <td class="yena-product-price"><span class="amount">$23.39</span></td>
                                            <td class="yena-product-stock-status"><span class="in-stock">in stock</span></td>
                                            <td class="yena-cart_btn"><a href="javascript:void(0)">add to cart</a></td>
                                        </tr>
                                        <tr>
                                            <td class="yena-product_remove"><a href="javascript:void(0)"><i class="lastudioicon-e-remove"
                                                title="Remove"></i></a></td>
                                            <td class="yena-product-thumbnail"><a href="javascript:void(0)"><img src="images/product/small-size/2.jpg" alt="Yena's Wishlist Thumbnail"></a>
                                            </td>
                                            <td class="yena-product-name"><a href="javascript:void(0)">Suretin mipen ruma</a></td>
                                            <td class="yena-product-price"><span class="amount">$30.50</span></td>
                                            <td class="yena-product-stock-status"><span class="in-stock">in stock</span></td>
                                            <td class="yena-cart_btn"><a href="javascript:void(0)">add to cart</a></td>
                                        </tr>
                                        <tr>
                                            <td class="yena-product_remove"><a href="javascript:void(0)"><i class="lastudioicon-e-remove"
                                                title="Remove"></i></a></td>
                                            <td class="yena-product-thumbnail"><a href="javascript:void(0)"><img src="images/product/small-size/3.jpg" alt="Yena's Wishlist Thumbnail"></a>
                                            </td>
                                            <td class="yena-product-name"><a href="javascript:void(0)">Bag Goodscol model</a></td>
                                            <td class="yena-product-price"><span class="amount">$40.19</span></td>
                                            <td class="yena-product-stock-status"><span class="out-stock">out stock</span></td>
                                            <td class="yena-cart_btn"><a href="javascript:void(0)">add to cart</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Yena's Wishlist Area End Here -->

        <!-- Begin Footer Area -->
        <%- include("partials/footer") -%>